[2012-10-24 19:14] rewritten opened #1 "Create a demo site"

[2012-10-24 21:35] sseerrggii opened #2 "Modificar campos de usuario"
Modificar los Datos que se solicitan en el formulario de New People para que sean los habituales:

NºSocio
Nombre
Apellidos
Fecha de alta en el BdT
Fecha de nacimiento
DNI
Dirección (postal + ciudad + provincia)
Telefono 1
Telefono 2 (opcional)
E-mail

[2012-10-24 21:40] sseerrggii opened #3 "Categorias de ofertas demandas"
Realizar un árbol base de categorias

Asignar de forma sencilla desde el panel de admin ofertas/demandas a un usuario

Por ejemplo un form

Usuario
Es Oferta o Demanda ?
Titulo oferta/demanda
Texto oferta/demanda
Categoria

[2013-01-24 07:33] #2 closed, assigned to nobody

[2013-01-24 07:33] #3 closed, assigned to nobody

[2013-01-24 07:34] #1 closed, assigned to rewritten

[2013-01-24 21:54] sseerrggii opened #4 "Problema fecha"
Problemas al introducir fechas mediante el calendario en el form de new user, es un problema que ocurre solo con el calendario que introduce chrome

[2013-01-24 22:00] sseerrggii opened #5 "Mejoras listados"
* En usuarios ordenados por categoria, al hacer click sobre código de miembro ir a ver ficha del miembro
* En usuarios ordenados por categoria, hacer el arbol con tabulaciones y los padres con títulos más grandes según jerarquía,
* Que se pueda buscar en usuarios ordenados por categoria
* En el listado de usuarios mostrar en una columna el campo "otro teléfono"
* Hacer boton con un listado de emai

[2013-01-24 22:03] sseerrggii opened #6 "Mejora en la inserción de new user"
Para facilitar el trabajo de inserción al crear "new user" el campo "Código de miembro" que por defecto sea el último código de miembro + 1 aunque se pueda cambiar si se necesita.

Insertar campo de sexo

[2013-01-28 21:10] sseerrggii opened #7 "Admin no puede crear/modificar categorias"
Un admin debería poder crear una nueva categoría, aunque no modificar categorias que pueden estar siendo usadas por otros.

[2013-01-31 15:25] sseerrggii opened #8 "Traducir categorias"
Pensar soluciones para traducir categorías

[2013-02-03 21:07] sseerrggii opened #9 "Error al mostrar usuarios de categoria"
Me informan de que no se muestran bien los usuarios de cada categoria

[2013-02-07 17:49] rewritten opened #10 "Movimiento"
Alta movimiento desde detalle usuario.

Campos necesarios:
cantidad (float)
fecha serv, (default hoy)
categoria (opcional)
usuario correspo.

Listado transacciones y total (pos - neg). Admin puede anular transaccion desde el listado.

[2013-02-07 18:08] #7 closed, assigned to nobody

[2013-02-07 18:08] #9 closed, assigned to nobody

[2013-02-07 20:52] sseerrggii opened #11 "Baja usuario"
Los usuarios han de poderse dar de baja, lo que significa que dejan de ser visibles en todos los ámbitos, excepto en las transacciones económicas que realizaron.

La baja viene a ser como marca el usuario como "invisible"

[2013-02-08 06:33] sseerrggii opened #12 "Usabilidad categorías"
El sistema de categorías es un árbol de 3 niveles. Para agregar una nueva categoría a un usuario, o ver/explorar el listado de las mismas, debe poder hacerse de una manera más usable.

[2013-02-13 11:20] sseerrggii opened #13 "Nombre de tu Banco"
Cuando haces login como administrador o usuario de un Banco (no cuando eres super-administrador) que arriba a la izquierda en Lugar de TimeOverflow ponga el nombre de la organización. (en el pie se puede poner algo como Powered by TimeOverflow, con el link a github)

Y en la home, ponga

Nombre de la organización
Bienvenido al sistema de gestión del "organización"

[2013-02-14 18:10] #6 closed, assigned to rewritten

[2013-02-14 18:36] #11 closed, assigned to rewritten

[2013-02-21 11:14] sseerrggii opened #14 "new organization como admin"
Al entrar como Admin y darle a "new organization" no lleva a ningún lado pero peta con el siguiente mensaje:

"The page you were looking for doesn't exist.
You may have mistyped the address or the page may have moved."

[2013-03-13 16:05] #4 closed, assigned to nobody

[2013-03-13 16:06] sseerrggii opened #16 "Usuarios sin mail"
Buscar una solución para los usuarios sin mail

[2013-04-04 17:33] sseerrggii opened #17 "Campo genero"
Introducir campo genero en los usuarios

[2013-06-10 18:16] alvarosaco opened #19 "Guía de instalación"
¿Existe alguna guía de instalación del proyecto?

[2013-07-22 13:38] #17 closed, assigned to nobody

[2013-07-22 13:39] #12 closed, assigned to nobody

[2013-07-22 13:39] #10 closed, assigned to rewritten

[2013-07-22 13:51] rewritten opened #20 "Next steps (by sseerrggii)"
* Al pagar horas como admin/superadmin necesitamos el campo fecha del pago y si es con cheque o no.
* Para los admin, que al ver el perfil de un usuario puedan añadirle fácilmente ofertas existentes (por título).
* Que el listado de movimientos de un usuario se pueda paginar, ademas los admin que tengan la opción de borrar un movimiento (con un aviso de ¿¿¿estás seguro???)
* Que en una nueva ofert

[2013-07-22 13:56] rewritten opened #21 "Wireframes"
Now that the main app skeleton is done, we need the wireframes for the app screens :)

[2014-11-23 21:15] markets opened #68 "Instalar quiet_assets for dev?"
Cómo veis instalar https://github.com/evrone/quiet_assets para development, es bastante útil para tener un log más limpio?

[2014-11-30 00:53] rewritten opened #85 "Create contributions guidelines"

[2014-11-30 00:54] rewritten opened #86 "Style guide"
Get to an agreeent for remaining styles (mainly, line length and hash literla indentation), configure rubocop and make it work.

[2014-11-30 00:55] rewritten opened #87 "Make rubocop happy"
Depends on #86

[2014-11-30 04:16] rewritten opened #92 "Modify language chooser"
1. no more flags. a flag == a country, not a language.
2. use a dropdown or better a modal. too much visible space with all language on the bar.
3. if in need, use this icon: http://fortawesome.github.io/Font-Awesome/icon/language/ or `.glyphicon.glyphicon-globe`

[2014-12-09 22:12] #92 closed, assigned to nobody

[2015-01-03 21:12] #16 closed

[2015-01-07 19:43] markets commented on #85
Info: https://help.github.com/articles/setting-guidelines-for-repository-contributors

[2015-01-07 19:47] markets opened #115 "Upgrade to Rails 4.2"
Upgrade to Rails 4.2 and review app skeleton files (`rake rails:update` with care :warning: ).

[2015-01-07 21:16] rewritten commented on #115
:+1: I was about to open it.

[2015-01-07 21:17] rewritten commented on #115
Also: upgrade to ruby 2.2

[2015-01-07 23:00] rewritten commented on #86
Para mi esto es ok. La configuración de rubocop actual marca el code style preferido. Concretamente tenemos:
* Max line length: 80
* Hash syntax: one space, no value alignments.

[2015-01-07 23:00] rewritten commented on #86
@markets close?

[2015-01-07 23:08] markets commented on #86
:+1:

[2015-01-07 23:08] #86 closed

[2015-01-07 23:23] markets opened #116 "Rearrange code structure in models"
Community tips: http://rails-bestpractices.com/posts/2011/05/31/keep-code-struture-in-models-consistent

[2015-01-08 09:09] rewritten commented on #87
Doing in #117

[2015-01-12 08:49] rewritten opened #119 "Remove InheritedResources from posts controller"
A whole library (that was actually targeted at rails 2.*), just to save a few lines of resource loading...

We should add this resource loading and remove IR at all.

[2015-01-12 21:33] sseerrggii opened #120 "Email notifications"
Enviar mails semanales de las nuevas ofertas y demandas de cada banco del tiempo a todos los usuarios que hayan hecho login alguna vez en el sistema.

[2015-01-18 02:12] rewritten commented on #87
Solved in #117

[2015-01-18 02:12] #87 closed

[2015-01-18 02:13] rewritten opened #123 "Añadir config/secrets.yml en lugar de dotenv"
**super importante!**

[2015-01-23 08:03] sseerrggii opened #124 "Bug: Invalid emails"
Se colan mails no válidos
https://redbooth.com/a#!/projects/638099/tasks/16444837

[2015-01-23 08:05] sseerrggii opened #125 "Bug statistics"
La estadística "Tipo de intercambio" da error
https://redbooth.com/a#!/projects/638099/tasks/16430572

[2015-01-23 08:10] sseerrggii opened #126 "Multi-membership"
Que un usuario pueda estar en varias organizaciones
https://redbooth.com/a#!/projects/638099/tasks/9531635

[2015-01-27 16:21] PatriRor commented on #125
PR https://github.com/coopdevs/timeoverflow/pull/127

[2015-01-27 18:13] PatriRor commented on #125
Datos demográficos: Al mostrar las etiquetas de las edades.

PR https://github.com/coopdevs/timeoverflow/pull/128

[2015-02-03 18:57] PatriRor commented on #125
Solved in https://github.com/coopdevs/timeoverflow/pull/127 and https://github.com/coopdevs/timeoverflow/pull/128

[2015-02-03 18:57] #125 closed

[2015-02-25 19:34] markets commented on #119
Related to https://github.com/coopdevs/timeoverflow/pull/138

[2015-02-25 19:37] markets commented on #21
@coopdevs/timeoverflow-contributors I think we can close it.

[2015-02-25 19:38] markets commented on #5
@coopdevs/timeoverflow-contributors I think we can close it. We are discussing this topic in Redbooth.

[2015-02-25 19:42] markets commented on #19
@coopdevs/timeoverflow-contributors Creo que ésta tb la podríamos cerrar. Tenemos las guías de instalación en la Wiki (que por cierto podríamos ordernar/limpiar un poco):

* https://github.com/coopdevs/timeoverflow/wiki/Getting-started
* https://github.com/coopdevs/timeoverflow/wiki/Using-Vagrant-as-your-TimeOverflow-Development-Environment

[2015-02-25 19:44] markets commented on #20
@coopdevs/timeoverflow-contributors Creo que también la podemos cerrar. Los puntos pendientes creo estan ya trackeados en Redbooth.

[2015-02-25 19:48] markets commented on #14
@coopdevs/timeoverflow-contributors Creo que es viejo, se puede cerrar?

[2015-03-05 07:38] carlesjove opened #140 "Move remove_orphaned_users out of Member"
Currently, the `Member` model handles this:

[code]

However, this:
1. Should not be a `Member` reponsability
2. Generates a lot of work overload to the database

Instead, it should be moved somewhere else. Maybe a method accessible via a `DELETE` request from the admin's panel?

Also, **this method is really telling us that there is a bug in the app**, since there shouldn't be an scenario with or

[2015-03-05 09:46] rewritten commented on #140
This is a specific requirement, a user can be a member of many orgs, and the org can remove his membership. The user itself has been required to be deleted when its last membership is removed. It can be delegated to an async job though, as soon as I have merged the rails 4.2 branch we will have ActiveJob and DJ available.

[2015-03-05 09:47] rewritten commented on #119
merger

[2015-03-05 09:47] #119 closed

[2015-03-05 09:47] #120 closed

[2015-03-05 09:48] carlesjove commented on #140
Ok

[2015-03-05 09:50] #115 closed

[2015-03-05 09:54] rewritten commented on #140
Now we have ActiveJob in master (I was waiting for user testing of the corresponding branch). If you want to go on with the feature you are very welcome. I'd change the title into: **Move "removed orphaned users" into a command that can be executed as an async job**

[2015-03-05 09:56] rewritten commented on #140
Also there is no command implementation chosen yet. I'll open a new issue to discuss this.

[2015-03-05 09:59] rewritten opened #141 "Command pattern"
We need a library or internal implementation for commands, that should be compatible with running them with ActiveJob. Maybe the same ActiveJob can do the task?

Suggestions are welcome.

Once defined, features should be moved into commands following a common namespacing etc. One first candidate is the weekly mailer.

cc: @markets @carlesjove

Note: ActiveJob does not support date and time argumen

[2015-03-05 11:04] rewritten opened #142 "Presenter pattern"
Draper? I remember having read some very harsh critic about it but I don't see many shortcomings. cc: @carlesjove @markets

[2015-03-05 11:06] carlesjove commented on #142
Excuse me, but I don't know what a presenter is :v: :sweat_smile:

[2015-03-05 11:20] rewritten commented on #142
http://mikepackdev.com/blog_posts/31-exhibit-vs-presenter
http://nithinbekal.com/posts/rails-presenters/

Basically,
1. move methods out from models, when those methods are just used for views/mails, and
2. add "jump" methods that internally navigate inside other related objects

The 1. aids in SRP for models, at the cost of having another object that acts as a Facade, and the 2. aid in following

[2015-03-05 11:24] rewritten commented on #142
Example:
[code]

[2015-03-05 11:45] rewritten commented on #142
Also see: http://commandercoriander.net/blog/2014/10/02/isolating-active-record/

[2015-03-07 13:14] markets commented on #141
Algunos gems interesantes:

* https://github.com/cypriss/mutations
* https://github.com/adomokos/light-service

De todas maneras, igual podríamos empezar por algo sencillo con POROs bajo `app/services/{service}` (o agrupados por contexto `app/services/{scope}/{service}`) que responden a `.run` o `.call` o `.perform`?

[2015-03-07 13:47] markets commented on #142
Draper está bastante bien y tiene bastantes funcionalidades útiles: auto-decorate associated models, decorate collections, uso de helpers, generadores...

Pero también veo buena idea empezar con `SimpleDelegator` bajo `app/presenteres` o `app/decorators`, cuando realmente una clase tenga bastantes métodos exclusivos de vistas (o métodos complejos).

Draper igual es demasiado grande/complejo para l

[2015-04-12 11:23] #124 closed

[2015-05-19 06:38] #126 closed

[2015-05-19 06:39] #21 closed

[2015-05-19 06:40] #5 closed

[2015-05-19 06:40] #8 closed

[2015-05-19 06:40] #13 closed

[2015-05-19 06:40] #14 closed

[2015-05-19 06:40] #19 closed

[2015-05-19 06:40] #20 closed

[2015-10-17 15:43] rewritten commented on #142
Mucha verdad. Un SimpleDelegator es más fácil. Más explícito sin duda. Cierro.

[2015-10-17 15:43] #142 closed

[2015-11-22 12:25] markets commented on #116
What do you think about something like?

1. Modules (includes, extends)
2. Constants
3. Associations
4. 3rd-party macros (like devise, acts_as_taggable, ...)
5. Validations
6. Callbacks
7. Scopes
8. Class methods
9. Instance methods

[2015-11-22 12:33] rewritten commented on #116
Macros for me are often at the same level as module inclusion. Actually I would love to switch from macros (specific methods that are already included somewhere) to including modules generated on the fly (from a configurable factory, take Virtus as an example), it would be much more explicit. Now with Module#prepend it could be done:

    include ActsAsTaggable.behaviour(on: :steroids)

Also, scop

[2015-11-22 12:34] rewritten commented on #116
(Note to the example: it is still "include", but the inclusion callback would prepend something else. )

[2015-11-22 12:37] rewritten commented on #116
Basically, macros are dangerous because the implicitly rely on the method to be loaded by some other configuration or whatnot. By encapsulating it in an explicit module inclusion, it's clear that we are adding behaviour on the class and where this behavior is located.

[2015-11-22 13:10] markets commented on #116
@rewritten I'm agree, macros is kind of obfuscated behaviour injected from somewhere (but a common practice in the Ruby/Rails gems ecosystem). Another good example from [equalizer](https://github.com/dkubb/equalizer) gem:

    include Equalizer.new(:latitude, :longitude)

Regarding scopes, ok, but sometimes scopes are written just as class methods ...

In summary, for a first iteration, we can go

[2015-11-22 13:22] rewritten commented on #116
I insist with macros before internal constants. The rest is :+1:  . As for scopes as class methods, of course they are, but there is a difference between "repository" class methods (which are more correctly separated in other frameworks, like in django where you have specific classes for repository) and behavior attached to the class object (like factories)

[2015-11-22 13:31] markets commented on #116
@rewritten all right regarding order! I misunderstood your comments about macros, I thought you meant rewrite macros in module-inclusion style... :sweat_smile:

So:

* Modules (includes, extends)
* 3rd-party macros
* Constants
* Associations
* Scopes
* Validations
* Callbacks
* Class methods
* Instance methods

I'll send a PR with those changes.

[2015-11-22 13:45] markets commented on #116
@rewritten Just another question, where we should put attributes (attr_write, attr_readonly...)? Since they are part of class definition, they should be at some of the top sections, before constants? after constants?

[2015-11-22 20:12] #116 closed

[2015-12-31 00:24] markets opened #177 "Template engine: ERB vs Haml vs Slim?"
Actualmente se utilizan los 3 (Haml más que el resto), en mi opinión creo que estaría bien unificar. Personalmente me quedo con ERB: más verbose, pero funciona out-of-the-box, no añades hard dependencies, más fácil para integrar themes (normalmente son HTML plano) y más cómodo para diseñadores que puedan trabajar sobre los templates. También es, en general, más rápido, aunque no estoy seguro que e

[2015-12-31 09:53] rewritten commented on #177
Am mi, personalmente, me gusta mucho más slim (lo mismo que jade en nodejs) pero las razones que das son muy buenas. :+1:

[2015-12-31 12:59] #68 closed

[2016-01-10 19:05] rewritten commented on #177
Definitivamente ERB con unos controllers que devuelvan datos significativos (para que todo lo que llegue a la vista sean datos y no se tengan que usar helpers) (o unos presenters bien hechos - view model) es la manera más sencilla y más clara. Los datos van en el view model y solamente el aspecto en el template.

[2016-04-24 20:59] rewritten commented on #141
Nowadays things are getting really interesting on functional patterns.

Look at this, that enables piping data through chains of callable injected dependencies:

http://dry-rb.org/gems/dry-transaction/

[2016-04-24 21:00] rewritten opened #204 "Remove Memcachier gem"
It is only used in heroku, but cache should be an afterthought, not an internal part of the application, so heroku should be executed with a simpler (in-memory?) cache.

[2016-05-14 00:10] rewritten commented on #177
First part: #214

[2016-05-14 00:16] rewritten commented on #141
So if at any point we are to implement a command, please let it be just a single instance of something that has a `call` method. It may be a simple Proc, ar anything above that, just keep the proc interface.

[2016-05-14 15:51] markets commented on #141
👍  @rewritten As I commented in the past, simple POROs under `app/services` or `app/commands`, responding to `#call` or `#run` or something like this... is enough IMO. If everybody is agree with this approach, we can close the issue.

[2016-05-14 15:52] rewritten commented on #141
Call is preferred so they can be replaced by procs in mocks or in simple dependency injection.

[2016-05-14 15:52] markets commented on #123
We already have this YAML under the config folder (https://github.com/coopdevs/timeoverflow/blob/develop/config/secrets.yml), so we can close this one.

[2016-05-14 15:53] #123 closed

[2016-05-14 15:54] markets commented on #85
@coopdevs/timeoverflow-contributors we also have this one since https://github.com/coopdevs/timeoverflow/commit/faf2034e2ecfff2c7376ea7bc237a6210a4e071f, can we close this?

[2016-05-14 15:55] #85 closed

[2016-05-16 10:58] #177 closed

[2016-05-16 11:38] rewritten opened #219 "Fix ElasticSearch in TravisCI"
See maybe https://github.com/travis-ci/travis-ci/issues/4542

[2016-09-27 18:15] naoisegolden opened #235 "Check copy in English"
Check that copy in English is complete and correct.

[2017-03-01 14:20] enricostano commented on #235
ping :trollface:

[2017-03-03 15:48] naoisegolden commented on #235
[!](https://m.popkey.co/daeb01/L9oQv_s-200x150.gif)

[2017-03-20 12:23] sseerrggii opened #248 "Tags should not distinguish between uppercase and lowercase"
The labels associated with the offers and demands should not distinguish between uppercase and lowercase http://community.coopdevs.org/t/gestionar-etiquetas-y-problema-de-repeticion-con-mayusculas-minusculas/151

[2017-08-22 15:44] sseerrggii opened #261 "Edit user by admins"
We want to disable the ability to edit users that already accepted the terms of service (those that did login already).

Editing users will only be possible for admins in case the user never accepted the ToS.

[2017-09-07 09:17] sseerrggii opened #262 "Elastic Search - Se muestran Ofertas/Demandas inactivas"
En los resultados de la búsqueda se muestran ofertas/demandas borradas, ver http://community.coopdevs.org/t/timeoverflow-error-ofertas/254/2

El último cambio que hicimos en Elastic Search https://github.com/coopdevs/timeoverflow/pull/253

$ bundle exec rake environment elasticsearch:import:model CLASS='Offer' FORCE=y
$ bundle exec rake environment elasticsearch:import:model CLASS='Inquiry' FORCE=

[2017-10-16 12:54] #235 closed

[2017-10-16 12:56] #248 closed

[2017-10-16 12:57] #140 closed

[2017-10-16 12:57] #141 closed

[2017-10-16 12:59] #262 closed

[2017-10-16 13:02] #219 closed

[2017-10-16 13:19] sauloperez opened #265 "Implement 404 page"
We need to customize the Rails' default 404 page. It's not very user friendly. Looks like the server is on :fire: .

Our proposal is something functional as the following but we're open to suggestions:

![photo5992211769084455444](https://user-images.githubusercontent.com/762088/31613748-4cc18e34-b284-11e7-835c-829aaa0f9025.jpg)

Note that the broken left-alignment is not intended.

[2017-10-16 13:43] sauloperez opened #266 "Implement pagination & search for users list"
The users list (shown below) has two problems that we want to tackle: first, it does filtering on the client side, resulting in poor performance on mobile devices for large lists. Secondly, it is not consistent with the rest of the app, where the filtering happens on the backend.

![users](https://user-images.githubusercontent.com/762088/31614817-eec704b8-b287-11e7-865a-181877b9002d.png)

Also, we

[2017-10-16 14:06] sauloperez opened #267 "Translate README to English"
We need the README to also be translated to English so that non-spanish speakers (a considerable amount  :earth_asia:) can also contribute to the project.

[2017-10-16 16:41] admir23 commented on #265
Hi @sauloperez , may I work on this?

[2017-10-16 17:02] rahul2240 commented on #267
On it :smile:

[2017-10-17 06:21] sauloperez commented on #265
All yours @admir23!

[2017-10-17 11:37] #267 closed

[2017-10-17 11:42] sauloperez opened #270 "Add link to README's English translation"
Now that we have a https://github.com/coopdevs/timeoverflow/blob/develop/README.en.md we should add a link in the main README file (in Spanish) to the English translation, somewhere at the top of the file.

[2017-10-17 13:20] sauloperez commented on #270
Solved by https://github.com/coopdevs/timeoverflow/pull/271

[2017-10-17 13:20] #270 closed

[2017-10-18 11:08] sseerrggii commented on #265
We can solve too 500 error?

[2017-10-20 22:02] reneesandefur commented on #265
@sseerrggii how can I duplicate the 500 error?

[2017-10-20 23:52] vraravam commented on #266
@sauloperez - i'll take a stab at incorporating pagination.

[2017-10-21 12:02] ankitbhardwaj78 commented on #266
@sauloperez  i want to take work on it.

[2017-10-21 18:22] sauloperez commented on #265
This https://stackoverflow.com/questions/4156490/how-to-test-500-html-in-rails-development-env might do the trick but you can always change the code to make it break.

[2017-10-21 18:33] sauloperez commented on #266
Sorry @knoopx is already working on it in https://github.com/coopdevs/timeoverflow/pull/272.

You can also pick up some issues in https://github.com/openfoodfoundation/openfoodnetwork/issues?utf8=%E2%9C%93&q=is%3Aopen%20is%3Aissue%20label%3AHacktoberfest%20

[2017-10-23 07:00] vraravam commented on #266
@sauloperez - im not able to get the `bundle` command to work - maybe the version of `active_admin` is incorrect?

[2017-10-23 09:09] enricostano commented on #266
@vraravam I guess the `bundle` issue is solved by https://github.com/coopdevs/timeoverflow/pull/273

Thanks for contributing! 💪

[2017-10-25 05:27] vraravam commented on #266
@enricostano - i still don't see #273 being merged into master - so, I'm still stuck.

[2017-10-25 07:25] sauloperez commented on #266
@vraravam you can upgrade the gems to the exact same version of #273

[2017-10-30 12:40] sseerrggii opened #274 "Add link to your profile for image edit"
When you see your own profile you can edit your data and in your image profile you have a link to https://www.gravatar.com/

We want (before big change in avatar system) to put a link below avatar image to https://www.gravatar.com/

**Now**
![2017-10-30-133303_1920x1080_scrot](https://user-images.githubusercontent.com/2297137/32171196-9bd0d6b2-bd77-11e7-86ff-4d650a753197.png)

**With the new link*

[2017-10-31 17:18] enricostano opened #277 "Remove scroll in Firefox and Chromium"
![2017-10-31-181449_1366x768_scrot](https://user-images.githubusercontent.com/748971/32238278-af550eba-be67-11e7-9e42-bae54e9df7ce.png)

No se que `min-height`.

[2017-10-31 17:22] enricostano commented on #277
cc/ @mllocs

[2017-10-31 17:25] enricostano opened #278 "Fix login box"
![2017-10-31-182416_1366x768_scrot](https://user-images.githubusercontent.com/748971/32238724-e837dca2-be68-11e7-8448-dc178ed3b1ec.png)

[2017-10-31 17:26] enricostano commented on #278
cc/ @mllocs

[2017-10-31 18:40] mllocs commented on #277
@enricostano can you share your screen resolution please?

[2017-10-31 18:42] mllocs commented on #278
what about removing that "TimeOverflow" header text? You have that name right on the top bar, quite visible already.

[2017-10-31 19:23] enricostano commented on #278
ask @sseerrggii 😬

[2017-10-31 19:29] enricostano commented on #277
@mllocs `1366 x 768`

[2017-11-01 00:23] sauloperez commented on #278
Agree with @mllocs

[2017-11-02 08:37] sseerrggii commented on #278
Agree with @mllocs :+1: also check sizes in mobile

In my mobile resolution the input boxes (mail/password) are too big

[2017-11-02 08:39] mllocs commented on #278
👍 willdo

[2017-11-02 08:59] sseerrggii opened #279 "Devise flash messages inside login box"
In  /users/sign_in we want the devise messages inside the login box

![screenshot-2017-11-2 https www timeoverflow org](https://user-images.githubusercontent.com/2297137/32317374-f3e141b4-bfb3-11e7-8737-29fda3b431ba.png)

like reset password page /users/password/new

![screenshot-2017-11-2 https www timeoverflow org 1](https://user-images.githubusercontent.com/2297137/32317571-7bf0da6a-bfb4-11e7-8

[2017-11-17 12:23] sauloperez opened #280 "Update Rubocop due to vulnerability"
According to github there's a vulnerability in our version:

![vulnerability](https://user-images.githubusercontent.com/762088/32947083-7bb0cbd6-cb9a-11e7-913c-28e5310e1ac0.png)

[2018-01-05 07:42] sauloperez opened #281 "Enable test coverage"
We need test coverage to ensure there are no bits of untested code. Tests make our life easier now that we are trying to refactor things to improve the maintainability of the codebase and we'll work on new features soon.

We should configure code climate's test coverage by means of SimpleCov. See https://docs.codeclimate.com/v1.0/docs/configuring-test-coverage and https://docs.travis-ci.com/user/c

[2018-01-08 00:23] Matt-Yorkley commented on #278
It will be different for every screen, no? I think the css positioning for the devise modal needs to be rethought, instead of just cutting off the header text.

![screenshot from 2018-01-08 00-19-12](https://user-images.githubusercontent.com/9029026/34655933-c8a00d0c-f409-11e7-80db-6112ec06cd70.png)

[2018-01-08 13:11] sauloperez commented on #278
It's just that the modal should always fall below the nav bar, and without title, right?

[2018-01-08 20:55] Matt-Yorkley commented on #278
Agreed. Currently it seems to move up or down depending on how large it is.

[2018-01-11 11:22] sauloperez opened #284 "Fetch activeadmin from Rubygems instead of git"
When running `bundler` commands in the repo a warning shows up:

[code]

We should fetch that gem from Rubygems instead of git for security reasons.

[2018-01-11 13:04] sauloperez commented on #279
Done in https://github.com/coopdevs/timeoverflow/pull/282

[2018-01-11 13:04] #279 closed

[2018-01-11 13:07] sauloperez commented on #278
Now that we merged https://github.com/coopdevs/timeoverflow/pull/282 this seems like a good follow-up. Still interested @Matt-Yorkley ?

[2018-01-15 14:02] sauloperez opened #289 "Update dependencies"
More and more security vulnerabilities are popping up notified by GitHub. It feels like in general, we're getting out of date on our dependencies. We should put our efforts on doing a major bum up so that it's easy and painless to apply single upgrades when needed.

This deserves some investigation so that we can come up with a strategy to do it as I assume most of the gems will need decent upgrad

[2018-01-22 18:59] sauloperez opened #293 "Make tests not to rely on the network"
When running the test suite in the local machine this is what I get:

[code]

We should fix the tests not to rely on the network. This makes the test suite brittle. We can consider taking a look at https://github.com/bblimke/webmock. It might the tool for this job.

[2018-01-22 21:40] sauloperez commented on #293
Given that we use `Faraday` we could use https://github.com/lostisland/faraday/blob/master/README.md#using-faraday-for-testing

[2018-01-25 15:14] sauloperez opened #295 "Improve User#improve_after_persisted name"
With such a cryptic name, the reader can't understand what the method does when being used in  https://github.com/coopdevs/timeoverflow/blob/develop/app/controllers/users_controller.rb#L45

[2018-01-25 18:28] sauloperez opened #296 "Rename destination_account to payee"
All the naming around transfers and movements is rather cumbersome and not immediately obvious.  I suggest we rename the concept `destination_account` to [payee](https://www.collinsdictionary.com/dictionary/english/payee). It seems to be a more appropriate term in this banking/payment domain.

This stems from https://github.com/coopdevs/timeoverflow/pull/264#discussion_r159684515, but it'll defini

[2018-01-26 15:51] #266 closed

[2018-01-26 16:00] sauloperez opened #297 "Fix deprecation warning due to sass-rails-5.0.4"
Now, with the upgrade to Rails 4.2.7.1 a new deprecation warning shows up:

[code]

It needs to be fixed before we apply another Rails upgrade.

[2018-01-29 09:52] sauloperez opened #300 "Use Inch"
Being an open source project that welcomes contributors, It'd be good to raise the visibility of our source code documentation by integrating [Inch CI](https://inch-ci.org/) and showing its badge in the README.

Inch CI is:

while Inch is:

[2018-01-30 12:37] sauloperez opened #306 "Improve how time balance is calculated"
After merging https://github.com/coopdevs/timeoverflow/pull/305/, all balances displayed in the app are calculated with a mix of `#seconds_to_hm` plus some conditional logic. This is not as readable as a call to a `#time_balance` method would be.

Moreover, this is something would be better off done by postgres: `balance * interval '1 sec'`. I did a bit of investigation some days ago and I didn't

[2018-01-30 12:45] sauloperez opened #307 "Backport v1.2.0's bugfixes to develop"

[2018-01-30 13:21] sauloperez opened #309 "log Rails in production"
Production's log is totally empty, even when doing a `tail -f log/production.log` and executing the app.

[code]

[2018-01-30 14:18] sauloperez opened #311 "Add not null and unique constraint in member_uid column"
So far the `member_uid` has a validation at model level that ensure both: its presence, and its uniqueness by organization. This however does not prevent violations. Since this is not ensured at DB level, race conditions can lead to duplicates.

We should add a unique index plus a not null constraint on that column.

[2018-01-30 16:41] sauloperez opened #312 "Refactor memberships query in users controller"
Now that the user's query also fetches their membership and account, as shown below:

https://github.com/coopdevs/timeoverflow/blob/6660a79c261e93fd3d148b590d3d5f1223bda217/app/controllers/users_controller.rb#L8-L14

There's no point in fetching the memberships and building a Hash associating the user and his membership, as shown below:

https://github.com/coopdevs/timeoverflow/blob/6660a79c261e93

[2018-01-30 16:52] sauloperez opened #313 "Remove N+1 queries from users list view"
The portion of the `_users_row.html.erb` below:

https://github.com/coopdevs/timeoverflow/blob/6660a79c261e93fd3d148b590d3d5f1223bda217/app/views/users/_user_rows.html.erb#L27-L61

Introduces few N+1 queries that come from the various custom path helper used there.

[2018-01-31 15:39] sauloperez opened #315 "Crash on transferring time from the offer's page"
Looks like we're missing one parameter from the payment button on the offer page.

It should be https://www.timeoverflow.org/transfers/new?destination_account_id=22&id=6&offer=12597
and from the button, we link to https://www.timeoverflow.org/transfers/new?id=6&offer=12597. This happens when clicking on the top-right green button on an offer's page.

![](http://community.coopdevs.org/uploads/defau

[2018-02-01 14:16] sauloperez opened #317 "Move some controller specs to view specs"
Since view specs have been introduced in https://github.com/coopdevs/timeoverflow/pull/316, we should now turn all the view-like specs that are implemented as controller specs, to proper view specs.

I'm talking about things like:

https://github.com/coopdevs/timeoverflow/blob/94a4ad8baa4e947f80d2cfef8c1bcf1ec287b95b/spec/controllers/transfers_controller_spec.rb#L29-L32

which should be turned int

[2018-02-01 14:25] sauloperez opened #318 "Remove N+1 from shared/_post view"
The line below is responsible for a N+1:

https://github.com/coopdevs/timeoverflow/blob/94a4ad8baa4e947f80d2cfef8c1bcf1ec287b95b/app/views/shared/_post.html.erb#L34

Due to:

https://github.com/coopdevs/timeoverflow/blob/94a4ad8baa4e947f80d2cfef8c1bcf1ec287b95b/app/models/post.rb#L122-L124

That method is going introduce N+1 every time is used, as it is very likely that is going to be used as part

[2018-02-02 15:07] #315 closed

[2018-02-03 17:49] sauloperez opened #320 "Keep just one Vagrantfile"
If we really want to keep giving contributors the possibility of using Vagrant we should have just a single Vagrantfile, being that the most updated one. So, that would mean keeping https://github.com/coopdevs/timeoverflow-provisioning/blob/master/Vagrantfile and removing https://github.com/coopdevs/timeoverflow/blob/develop/Vagrantfile.

Secondly, the contributor's expectation would be to find th

[2018-02-05 08:37] sauloperez opened #321 "Refactor offers fetch in OffersController#dashboard"
## What? Why?
The current implementation of the offers page is dangerously inefficient. The following snippet:

https://github.com/coopdevs/timeoverflow/blob/ea0b66b4b75e74f243efb60f48c7a8315c15e0a1/app/controllers/offers_controller.rb#L15-L18

does the work of the database fetching ALL categories and then going through each of them to fetch their offers. The main problems lies on:

https://github

[2018-02-05 16:30] sauloperez opened #323 "Add SKYLIGHT_AUTHENTICATION env var in production"
In order for https://github.com/coopdevs/timeoverflow/pull/322 to work, we need to make the `SKYLIGHT_AUTHENTICATION` env var available in production with the appropriate value. More details in #322 .

[2018-02-05 16:31] #323 closed

[2018-02-05 16:31] sauloperez commented on #323
Wrong repo. This had to go in https://github.com/coopdevs/timeoverflow-provisioning/issues/26

[2018-02-14 19:15] enricostano opened #326 "Remove memcachier gem"
It was used for Heroku, not needed anymore. We directly use `dalli` gem to provide a `cache_store`.
[dalli](https://github.com/petergoldstein/dalli) gem is a Memcached ruby client.

[2018-02-15 12:59] enricostano opened #327 "Is this optimization really needed on password reset?"
I still don't understand what problem we were trying to solve.

Give a look at https://github.com/coopdevs/timeoverflow/commit/f8f940050ac5677805beca4065f9cdf0f7f287bb

[2018-02-15 13:42] sauloperez commented on #327
See my comment https://github.com/coopdevs/timeoverflow/commit/f8f940050ac5677805beca4065f9cdf0f7f287bb

[2018-03-02 18:05] #265 closed

[2018-03-08 09:11] juanjochi commented on #274
I tried the link that sends you to the page to download, to change the profile picture and it worked well, I do not get the text to change your image.
You could put a button to take a picture from the camera.

[2018-03-08 09:36] sseerrggii commented on #274
Hi @juanjochi !! This is only a task to add the text link below your image, now the image is the link to gravatar

We want (before big change in avatar system) to put a link below avatar image to gravatar in the future we will add the function to upload image

[2018-03-08 09:40] juanjochi commented on #274
You could put avatar in Spanish by putting the link https://es.gravatar.com

[2018-03-08 09:53] juanjochi commented on #274
I see that in Gravatar you can access the camera and a photo in the file, what I think is the mobile application and the profile of people unaccustomed to the use of computers that use the program, which would be easy to do the photo from the mobile.

[2018-03-08 14:02] juanjochi commented on #327
From what I understand it seems that you have to check that when asking for password recovery, you receive an email and you can change it correctly. I have requested the recovery three times, with Opera what I have detected is that the first took several minutes, the other two times the mail arrived in seconds. On the other hand I think that to facilitate the use could hide the button to send the

[2018-03-09 14:00] juanjochi commented on #278
I do not know if it will work but I changed the container size of 500px and put it to 649px and it seems that the whole box looks good, I put the screens.
![captura de pantalla_2018-03-09_14-23-26](https://user-images.githubusercontent.com/37113489/37210696-ee1963c4-23a9-11e8-8593-2130c636cf7e.png)
![captura de pantalla_2018-03-09_14-23-57](https://user-images.githubusercontent.com/37113489/372107

[2018-03-13 12:07] #280 closed

[2018-03-13 12:07] #297 closed

[2018-03-13 12:07] #326 closed

[2018-03-13 12:07] #204 closed

[2018-03-13 13:20] markets commented on #284
Closed by #298

[2018-03-13 13:20] #284 closed

[2018-04-03 11:03] #320 closed

[2018-04-03 14:51] sauloperez opened #340 "Specify ruby version in Gemfile"
This will make it easy to spot when someone is using a ruby version other than the one specified in  [.ruby-version](https://github.com/coopdevs/timeoverflow/blob/develop/.ruby-version). AFAIK, that doesn't stop devs from using another version when installing gems but it will update the Gemfile.lock with the version used.

Those that use `rbenv`, `rvm` or `chruby` will benefit from [.ruby-version]

[2018-04-04 11:27] #274 closed

[2018-04-05 08:12] #340 closed

[2018-04-06 13:31] sseerrggii opened #343 "Users want to search others by member_uid"
Before angular removal #272 users could search in users list, timeoverflow.org/members, by member id (número de socio)

We want this feature back :pray:

[2018-04-18 07:49] sseerrggii opened #345 "Don't allow payments of 0 hours 0 minutes"
Payments of empty time should not be allowed

[2018-05-08 17:43] sseerrggii opened #349 "Don't show emails @example.com"
Before angular removal #272 in the members list and member profile users with email ...@example.com show an empty email field

We want this feature back :pray:

[2018-05-09 13:30] saverio-kantox commented on #349
@sseerrggii #351 solves this :)

[2018-05-09 13:32] rewritten commented on #349
@sseerrggii #351  solves this :)

[2018-05-10 18:42] enricostano opened #352 "Unify i18n keys for 'Crear oferta' copy"
There are two i18n keys for getting "Crear oferta" copy ( one returns 'Crear oferta' and the other 'Crear Oferta' )

Spotted here https://github.com/coopdevs/timeoverflow/blob/develop/spec/features/create_offer_spec.rb#L32

[2018-05-13 11:58] markets commented on #343
👉 fixed by #354

[2018-05-18 07:56] enricostano opened #358 "Can we remove Memcached?"
Since we have Redis now manage background jobs we would like to simplify our stack and just use Redis for cache also, removing Memcached.

Discussion started on https://github.com/coopdevs/timeoverflow/pull/353

[2018-05-18 16:23] sseerrggii opened #359 "Delete a organization"
Superadmin can't delete a organization: If some admin ask to to remove all timebank activitity we delete all the members (and users if they haven't another membership) and after that we change the name of timebank with something like "to delete someday"

We need a way to remove all Organitzation activity through active admin panel

[2018-05-18 16:25] sseerrggii opened #360 "Active admin: user to membership organitzations order"
One annoying thing in Active Admin is when superadmin creates a new user and add membership the select of all organitzations list show the organitzations list without an order

 Will be perfect if orgs are ordered by ID

[2018-05-19 15:48] markets commented on #360
👉 fixed by #361

[2018-05-22 09:51] enricostano opened #362 "Use RSpec scope and remove global namespace"
Discussed in https://github.com/coopdevs/timeoverflow/pull/361#issuecomment-390795850

Add `config.expose_dsl_globally = false` and use `RSpec.describe`, etc.

More info: https://relishapp.com/rspec/rspec-core/v/3-0/docs/configuration/global-namespace-dsl

[2018-05-25 13:15] enricostano opened #365 "User model is broken"
[code]

[2018-05-25 13:33] sauloperez commented on #365
@markets @rewritten could any of you take a quick look? @enricostano and I are very busy and this is rather urgent. Thanks in advance!

[2018-05-25 14:06] markets commented on #365
hi guys 👋 I made a quick look and I think the problem is: the `users` table has a password_digest column:

https://github.com/coopdevs/timeoverflow/blob/dad31b672ad28f165ef7666dcd4ae58182cf850a/db/schema.rb#L180

This is not coming from `devise` migration (should be something from the pre-`devise` era), but `devise` has a method named `password_digest` (https://github.com/plataformatec/devise/blob

[2018-05-25 14:10] markets commented on #365
Confirmed:

https://github.com/plataformatec/devise/issues/4192#issuecomment-232651031

[2018-05-25 15:48] sauloperez commented on #365
Awesome @markets! It totally makes sense.

[2018-05-25 16:19] enricostano commented on #365
Nice work @markets :clap:

BTW.. for the sake of history, I found the commit that introduces it: https://github.com/coopdevs/timeoverflow/commit/dfe266bf9bb34b433d29c634c13c9ff176991f8d

[2018-05-26 18:07] markets commented on #312
@sauloperez I'm going to close this one, as it has been refactored ✅ in #351 (now it relies on the decorated member instead of user + membership).

[2018-05-26 18:07] #312 closed

[2018-05-26 18:21] markets commented on #359
Work in progress 👉 #368

[2018-05-28 09:29] enricostano opened #369 "Make host URL dynamic in reset password email"
We need to be able to use https://staging.timeoverflow.org when running the app in `staging`.

[code]

[2018-05-28 09:33] #365 closed

[2018-05-29 06:28] sseerrggii opened #371 "Weekly digest for users with multiple membership"
I noticed and confirmed with other users that when you are in multiple organizations you recibe only weekly digest (https://github.com/coopdevs/timeoverflow/blob/5a8d38a4afacb7dd9d3719cbf11df20f556f44ec/app/services/organization_notifier_service.rb) from one of these organizations.

Something has changed because it worked well a few weeks ago.

[2018-05-31 09:38] enricostano opened #373 "Move whenever cron job to sidekiq-cron"
https://github.com/coopdevs/timeoverflow/blob/develop/Gemfile#L20
https://github.com/coopdevs/timeoverflow/blob/develop/config/schedule.rb

https://trello.com/c/vCkaG7TW/124-move-whenever-cron-job-to-sidekiq-cron

[2018-06-07 20:12] markets commented on #359
Hi 👋

I agree with @enricostano. I'd say no 🔥, even more taking @sseerrggii's comments:

I'll wait for a consensus to be reached to finish with #368.

[2018-06-08 06:01] sseerrggii commented on #359
Exactly, users with organization membership will loose this membership and can't accs to anything to this organization, we should delete everything related with this organization.

[2018-06-08 08:39] sauloperez commented on #359
Just to be crystal clear, do we all agree on the impact removing all the data of an org. will have on the future feed of events? When checking the feed you won't suddenly see an event you just saw 2min ago.

[2018-06-08 08:41] enricostano commented on #359
We also have a foreign key in `PushNotification#event_id`, that will :boom: if we try to delete an `Event`:
https://github.com/coopdevs/timeoverflow/blob/develop/db/schema.rb#L227

2 things on this:
 - let's remove `PushNotification` when we delete an `Event`
 - let's add the `ON DELETE CASCADE` in all the tables at SQL level where we add `dependent: :destroy` in the AR model

what do you think?

[2018-06-08 09:11] sseerrggii commented on #359
@sauloperez that's correct, if you are removed from the membership of an organization, you will no longer have access to that organization's feed

[2018-06-08 11:35] sauloperez commented on #359
My point was that other's that may belong to other organizations as well, will see the events related to the removed organization disappear from the feed.

[2018-06-20 14:03] enricostano commented on #327
Maybe related https://github.com/coopdevs/timeoverflow/blob/develop/config/initializers/devise.rb#L187

[2018-06-20 14:23] enricostano opened #381 "Check if the user wants to receive mobile notifications"
Related to https://github.com/coopdevs/timeoverflow/pull/356

[2018-06-20 18:44] sauloperez commented on #381
What is this exactly? We want forcefully ask all current users?

[2018-06-20 21:49] enricostano opened #383 "Switching between organizations doesn't work anymore"
I guess the regression was introduced by https://github.com/coopdevs/timeoverflow/commit/b9d9b9636c806d48aad7e75cd353160572750689#diff-33bef3083bae5b2e2bea316eab44c9fdL2

We basically excluded `set_current` action from the `before_filter` conditions.

[2018-06-20 22:06] markets commented on #383
oh my! 😱

you're totally right @enricostano :pray: adding `:set_current` into the `before_filter :load_resource` should fix this issue

[2018-06-20 22:29] enricostano commented on #383
@markets don't worry :+1: Will do in #382

[2018-06-20 22:31] enricostano commented on #381
We just need to filter out the people that set the `push_notifications` setting to `false`.

[2018-06-21 20:39] markets commented on #278
@enricostano @mllocs @sauloperez 👋 Maybe we can consider this as done by #375?

[2018-06-21 20:44] markets commented on #277
@enricostano @mllocs 👋 Maybe we can consider this as done by #375? I don't see those scroll bars in latest `firefox` resizing to `1366 x 768` and latest `develop`.

[2018-06-21 22:36] Matt-Yorkley commented on #278
Looks like this issue can't be closed yet:
![screenshot from 2018-06-21 23-33-31](https://user-images.githubusercontent.com/9029026/41748911-bc093e96-75ab-11e8-923f-0f791552e70d.png)

[2018-06-21 23:20] markets commented on #278
Right @Matt-Yorkley! Thanks for looking into this :+1:

[2018-06-23 05:45] sseerrggii opened #387 "Show only >0 occurrences tags when you create Post"
When user creates new offer/demand (Post) can select tags, we show "autocomplete" with tags used in all history organization.

But we want to show only tags presents in 1 or more **active** posts

[2018-07-03 09:51] #383 closed

[2018-07-05 12:05] enricostano commented on #387
Why?

[2018-07-06 06:13] sseerrggii commented on #387
Sorry, title shoud be >0

* We don't want to suggest tags that are not used in other posts
* Maybe user creates a post with orthographic errors in tag and later user or admin change it, the tag with errors should not be suggested in the future

[2018-07-10 10:51] sseerrggii opened #391 "Redirect after post show and login"
When you see a post and you are not logged in you see a button for login

After the login you should be redirected to this post show

![fireshot capture 90 - - https___staging timeoverflow org_offers_25](https://user-images.githubusercontent.com/2297137/42505739-f522df5a-843f-11e8-9d5a-973250160081.png)

http://community.coopdevs.org/t/redireccionar-al-entrar-por-post/29

[2018-07-12 20:23] markets commented on #391
@enricostano I think this would be fixed by your changes in #249

[2018-07-17 09:02] enricostano commented on #391
@markets could be :+1:

[2018-07-24 17:03] sauloperez commented on #277
I would close this and reopen it if we need to. It's old and chances are that it was fixed by #375

[2018-08-08 11:01] #343 closed

[2018-08-08 11:27] #360 closed

[2018-08-08 12:04] enricostano commented on #278
![2018-08-08-135859_1366x768_scrot](https://user-images.githubusercontent.com/748971/43835913-e1f04cc0-9b13-11e8-9183-a6ec1060ad43.png)

This is how I see it now. cc/ @mllocs @Matt-Yorkley @markets

[2018-08-08 12:07] enricostano commented on #277
Yep, seems solved to me. Thanks!!!

[2018-08-08 12:07] #277 closed

[2018-08-09 13:50] sseerrggii opened #398 "member_uid order"
Related with https://github.com/coopdevs/timeoverflow/pull/354

Now is ordering by ID alphabetically but we need numerically order

I only see it in produccion, with more than 99 members :sweat_smile:
![fireshot capture 2 - banc del temps de gracia - https___www timeoverflow org_members](https://user-images.githubusercontent.com/2297137/43903106-f840f1e0-9beb-11e8-8a7f-5c4966bd0922.png)

[2018-08-09 14:01] enricostano commented on #398
@markets could this be related to the casting to String in your PR?

[2018-08-09 14:41] markets commented on #398
Maybe! I'll take a look this night, but is this the default order when you visit the page, or after clicking the sort link? If we're talking about the later, I'd say yes, since the sort is also implemented via Ransack, probably they use the defined casting for all features (filter and order). If so, I think the only solution will be to remove the (Ransack) sort on that column (I think it wouldn't

[2018-08-09 14:50] sseerrggii commented on #398
Hi @markets
Both orders are aphabetic now
* the default order when you visit the page
* after clicking the sort link

[2018-08-09 19:34] markets commented on #398
ok thanks for the info @sseerrggii! I just reproduce it in staging. The weird thing is that I can't reproduce it in my local environment :(

![captura de pantalla 2018-08-09 a la s 21 19 45](https://user-images.githubusercontent.com/576701/43920749-1a087860-9c1a-11e8-8b10-da6427b1c234.png)

@sauloperez @enricostano what version of PostgreSQL are we running in our current infra? I realized I'm runn

[2018-08-13 14:40] enricostano commented on #398
@markets `9.4.5` in `production` and `9.5.12` in `staging`... :sweat_smile:

[2018-08-13 20:29] markets commented on #398
Hi @enricostano @sauloperez :wave:

I think I've found a different fix: #399

Let me know what do you think

[2018-08-15 15:47] markets commented on #398
New approach pushed in a different branch, so now we have a couple of solutions, both solve the issue, so we just need to decide what solution we prefer:

- #399: move `member_uid` to use `_eq` by mapping params manually
- #400: rename `ransacker` to only use the cast when filtering

[2018-08-15 17:01] markets commented on #373
@enricostano :point_right: #401

[2018-08-16 08:45] enricostano commented on #398
Many thanks @markets and @mllocs for dealing with this, I also prefer the second option :muscle:

[2018-08-16 09:15] #398 closed

[2018-08-16 10:32] sseerrggii opened #404 "Portuguese (Brazil)"
We have translations for pt-BR but we show the language in UI only as "Portuguese"

I think is better if we call it "Portuguese (Brazil)" or "Portuguese (BR)"

What do you think @mllocs ?

[2018-08-21 09:38] sseerrggii opened #409 "Edit Post button don't work"
Edit button on Post don't redirect to /edit post

![peek 21-08-2018 11-38](https://user-images.githubusercontent.com/2297137/44394131-c105cd00-a536-11e8-8eb8-0b0cfaa73521.gif)

[2018-08-21 10:09] sseerrggii opened #410 "Copy for notificactions (email)"
In a user data we have two checks for notifications, one is for email notifications and other is for mobile push notifications
![fireshot capture 21 - banco de tiempo local - https___staging timeoverflow org_members_1_edit](https://user-images.githubusercontent.com/2297137/44395586-9e75b300-a53a-11e8-94eb-54f377e682f3.png)

The problem is first notifications check is described as generic "notifica

[2018-08-21 14:25] enricostano commented on #410
If we don't change the `notifications` column in the `users` table we should at least add a comment in the `User` model, but I don't see where. [Here](https://github.com/coopdevs/timeoverflow/blob/develop/app/models/user.rb#L33)? :thinking:

[2018-08-22 14:16] #278 closed

[2018-08-30 18:51] markets commented on #362
Fixed by :point_right: #413

[2018-08-31 18:26] #362 closed

[2018-09-01 15:26] markets opened #420 "Remove deprecated Timeoverflow related repos"
Hi people! :wave:

![captura de pantalla 2018-09-01 a la s 17 23 00](https://user-images.githubusercontent.com/576701/44947321-cd7a0780-ae0b-11e8-8a55-9d817ab35aa8.png)

Maybe we can delete those deprecated Timeoverflow related repos, what do you think? They are empty repos by the way, so it's safe to just :scissors:

It would be clearer regarding which repos are actually maintained.

[2018-09-01 17:27] markets commented on #345
Fixed by :point_right: #421

[2018-09-04 15:05] sauloperez commented on #420
Done! thanks for the heads-up!

[2018-09-04 15:05] #420 closed

[2018-09-04 15:16] sseerrggii opened #422 "Members list, paginate in even numbers"
With the new view of members, we continue paging every 25 members, but in desktop we see two cols, so will be better to paginate every 20 members.

![fireshot capture 28 - banco de tiempo local - https___staging timeoverflow org_members](https://user-images.githubusercontent.com/2297137/45040336-0f9e8580-b066-11e8-8e37-4a8f7e509c08.png)

[2018-09-04 18:21] BitsofSpace opened #423 "Can't find create container script"
I'm following the [lxc documentation](https://github.com/coopdevs/timeoverflow/wiki/Build-development-environment-with-LXC-for-GNU-Linux) but when trying to run the create container script, it says it doesn't exist. I can't find this file.

I appreciate help with this.

Thanks in advance.

[2018-09-05 19:42] markets commented on #422
@sseerrggii did you mean 20 on both sections `/members` and `/members/manage`? Or you prefer something like 20 on `/members` and 30 on `/members/manage`? I don't know... just asking, maybe under the `manage` section makes sense to display more records.

[2018-09-06 07:19] sseerrggii commented on #422
Mmmm :thinking:

I'm not find reasons for have more records on ```/members/manage``` , we can change both to 20.

[2018-09-06 08:14] danypr92 commented on #423
Hi!
I'm sorry, but that documentation is obsolete, we need to update it.

Now we are using this [`devenv`](https://github.com/coopdevs/devenv) tool. This tool is basically the old script but we can use it in all own projects.

You only need clone the `devenv` repo and `make` it.
All this info are in the [`devenv`](https://github.com/coopdevs/devenv) repository.

Thank you for showing us this docum

[2018-09-06 15:20] sseerrggii opened #424 "Delete user don't work"
Reported in http://community.coopdevs.org/t/error-timeoverflow-al-borrar-definitivamente-un-usuario/597

I can reproduce it in staging. After desactivate member you have de option to delete it, but you can't, return  Error 500 and don't remove the member.

[2018-09-06 20:28] markets commented on #424
This should be fixed here :point_right: #368

[2018-09-10 09:51] sseerrggii opened #425 "Text overflow on members list"
![descarga](https://user-images.githubusercontent.com/2297137/45290439-e2335b00-b4ef-11e8-9e1a-3c9b1ebb0f1d.png)

[2018-09-10 10:59] sseerrggii commented on #425
![fireshot capture 34 - banco de tiempo local - https___staging timeoverflow org_members](https://user-images.githubusercontent.com/2297137/45293746-558d9a80-b4f9-11e8-9d32-df9e3c70e993.png)
1 column works fine

[2018-09-17 15:56] sseerrggii opened #426 "Tel number on admin user creation"
When I create a new user as superadmin, if I do not fill in the telephone field, it seems to be shown as tel:// although in the database the field is empty :thinking:

Strange.... because if you create as admin this does not happen

![fireshot capture 39 - banco de tiempo a borrar - https___staging timeoverflow org_members](https://user-images.githubusercontent.com/2297137/45634660-4a131400-baa3-1

[2018-09-20 08:24] #359 closed, assigned to nobody

[2018-09-20 11:21] sseerrggii opened #431 "In /members/manage view don't redirect to /member after cancel membership"
Now when you are in /members/manage the action of delete membership redirect to /members
Will be more useful to keep admin user in the same view

![peek 20-09-2018 13-21](https://user-images.githubusercontent.com/2297137/45815192-2f75b080-bcd8-11e8-9fc2-a4399570d628.gif)

[2018-09-20 18:07] BitsofSpace commented on #423
@danypr92
Gracias por la actualización. Al correr 'sudo devenv' en el directorio de 'time-provisioning' me sale:

~/.bin/timeoverflow-provisioning$ sudo devenv
Creating config file: /tmp/ubuntu.timeoverflow.conf
* CONFIGURATION:
  - Name: timeoverflow
  - Distribution: ubuntu
  - Release: xenial
  - LXC Configuration: /tmp/ubuntu.timeoverflow.conf
  - Host: local.timeoverflow.org
  - Project Name:

[2018-09-20 22:51] markets commented on #431
@sseerrggii fix pushed in #416

[2018-09-26 09:08] danypr92 commented on #423
@BitsofSpace si nos puedes copiar el resultado de:
`cat /tmp/ubuntu.timeoverflow.conf`
nos ayudaría mucho para saber como resolver tu problema.

También si puedes indicar que versión de LXC estas utilizando:
`lxc-create --version`

En la versión 2.1 de LXC se cambió la configuración referente al network de `lxc.network.type` a `lxc.net.[i].type`. Al parecer el error es con la key `lxc.net.0.type`,

[2018-09-27 16:34] BitsofSpace commented on #423
@danypr92
la versión de lxc que tengo es '2.0.7' y lo que escupe el cat de ese archivo es:
`# Network
lxc.net.0.type = veth
lxc.net.0.flags = up
lxc.net.0.link = lxcbr0

# Volumes
lxc.mount.entry = /home/grieta/.bin/timeoverflow /var/lib/lxc/timeoverflow/rootfs//var/www/timeoverflow none bind,create=dir 0.0
`

[2018-10-02 07:16] danypr92 commented on #423
@BitsofSpace disculpa por tardar en contestar.
Parece que tendrás que actualizar la versión de `lxc` que tienes instalada, pues como comento en el anterior comentario:

[linuxcontainers.org/lxc/news/#network-configuration](https://linuxcontainers.org/lxc/news/#network-configuration)

Un saludo!

[2018-10-02 15:39] #387 closed

[2018-10-02 15:50] sseerrggii commented on #313
https://github.com/coopdevs/timeoverflow/blob/develop/app/views/users/_user_rows.html.erb

@sauloperez is this still valid?

[2018-10-02 18:56] gpks commented on #318
I would love to try to fix this :)

[2018-10-03 13:21] sauloperez commented on #318
Hi @gpks ! please go ahead. Keep in mind that the app has changed considerably recently so make sure you check the N+1 still exists first. Sorry for any inconvenience.

[2018-10-06 19:31] mllocs commented on #313
This looks like fixed 👍

[2018-10-07 10:13] #313 closed

[2018-10-15 14:15] dataf3l opened #439 "page layout issue"
<img width="940" alt="screen shot 2018-10-15 at 9 14 45 am" src="https://user-images.githubusercontent.com/3528304/46956396-dab92180-d05a-11e8-9f21-865d0d92808e.png">

[2018-10-18 13:33] #422 closed

[2018-10-18 13:33] #431 closed

[2018-10-20 12:47] markets commented on #426
Fixed by #436

[2018-10-20 12:47] #426 closed

[2018-10-20 12:48] markets commented on #425
Fixed by #436

[2018-10-20 12:48] #425 closed

[2018-10-20 12:48] markets commented on #439
Fixed by #436

[2018-10-20 12:48] #439 closed

[2018-11-29 09:59] sseerrggii opened #453 "Send email notifications in user language"
Users receives email notifications always in ES

We want to send notifications in language chosen by user (LOCALE field in user table)

http://community.coopdevs.org/t/eleccion-de-idioma-en-el-boletin-de-avisos-semanal/730

[2018-12-01 14:17] denysmedynskyi commented on #453
I can take it

[2018-12-12 16:34] sseerrggii opened #454 "Unexpected session expiration in secondary device"
I have been investigating why the session closes in the mobile app (webview).

After a bit of headache trying to find the pattern, I think I understood what is going on.

The problem happens when user check "remember me" on login: this is the default behaviour on mobile app. In DB is stored as `REMEMBER CREATED AT` date

After that if this user login on desktop and close the session on desktop `RE

[2018-12-24 16:43] sauloperez commented on #454
I don't know how that column actually looks like in the DB and I'm not an expert on Devise myself but what you suggest of sign_out_all_scopes sounds good.

[2019-01-03 21:23] markets commented on #327
What are you suggesting @enricostano to increase or decrease that number? Would be amazing to fix this (and remove `memcached` :stuck_out_tongue:) by just tweaking Devise settings.

Another possible approach: to sort out this by db, with something like:

[code]

Instead of the current:

https://github.com/coopdevs/timeoverflow/blob/e6ef11997badfcf07a714bb2a44b70757741ddf7/app/models/concerns/lazy_

[2019-01-04 18:31] enricostano commented on #327
I would like to try out Devise settings tuning... and remove the cache.

[2019-01-22 15:09] sseerrggii commented on #453
Hi @denysmedynskyi !!
Any news for this issue?

[2019-01-22 15:09] #423 closed

[2019-01-22 15:15] sseerrggii commented on #410
I think we can close this issue, very low priority

[2019-01-22 15:15] #410 closed

[2019-01-22 15:15] #404 closed

[2019-01-22 15:16] #261 closed

[2019-01-30 08:50] enricostano commented on #318
@sauloperez can we close this issue? It seems that the N+1 is not there anymore. Right?

[2019-02-02 14:18] sseerrggii commented on #454
Sadly don't work as expected :disappointed:

`config.sign_out_all_scopes` is true but when I sign out session started without 'remember me' the `REMEMBER CREATED AT` is reset

Also I don't see that `config.extend_remember_period` refresh date on `REMEMBER CREATED AT`

Actually I'm not sure what is the behaviour expected of changing this variables. I didn't find it in Devise documentation  https://

[2019-02-12 13:51] sauloperez commented on #318
It seems so. Let's close it

[2019-02-12 13:51] #318 closed

[2019-02-12 13:52] sauloperez commented on #454
Then we might need to check Devise's codebase

[2019-02-13 16:49] sseerrggii opened #457 "Remove piwik code"
Seems like someone deleted sandstorm piwik account :disappointed:  and for this reason now embed.js doesn't exist.

We want to remove piwik code until we create a new piwik (Matomo) server

![2019-02-13-174454_1960x2160_scrot](https://user-images.githubusercontent.com/2297137/52728369-76ca4980-2fb7-11e9-8989-deb25bb7bdf4.png)

[2019-02-15 15:09] #457 closed

[2019-02-16 13:19] markets commented on #281
Added SimpleCov in :point_right: #459

[2019-02-16 13:20] markets commented on #281
1st step, SimpleCov, added in :point_right: #459

[2019-02-18 09:39] #345 closed

[2019-03-11 15:56] sseerrggii opened #468 "Sort members list by last_sign_in_at"
In this commit https://github.com/coopdevs/timeoverflow/pull/436/commits/b0d675ce92a5153085411382c372fe9794cb6a73#diff-4e05ad0d64e6100656b63ad1e78f32c5R6 @mllocs  try to sort members in `/members` by last_sign_in_at but seems that ransack have troubles to sort null results at the end.

For that we revert the change https://github.com/coopdevs/timeoverflow/pull/436/commits/9208d17bf00ef39e5d8b9d7da

[2019-03-11 19:30] Morantron opened #469 "Multi transfers"
Related community link https://community.coopdevs.org/t/transferencias-de-horas-a-multiples-usuarios/807/2

# Many-to-one transfers

Multiple accounts transfer time to a single account, regarding one specific post_id

# One-to-many transfers

:point_up:  One account transfer time to many accounts. In this case we don't specify a post_id ( offers are not shared between accounts )

[2019-03-11 19:31] Morantron opened #470 "Add `is_group` flag for posts"
* Add this boolean flag to posts table
* Add a good ol bootstrap label in the views to visually represent it

[2019-03-11 19:34] Morantron opened #471 "Delete unused ( maybe? ) columns in posts table"
I'm not 100% sure, but i think this columns here are unused? ( at least `permanent` and `joinable` )

https://github.com/coopdevs/timeoverflow/blob/857643cf6c36c7944cda5ee55101c89088a2dce4/db/schema.rb#L144-L146

[2019-03-11 19:42] markets commented on #453
@sseerrggii I'll take care of this one, but would be nice to implement this after #401, to avoid big diffs

[2019-03-11 22:59] enricostano commented on #471
https://github.com/coopdevs/timeoverflow/commit/4f56c826489310cf7604de218c6fe8938c76f247#diff-df2014f8b8976aed72db66eccb63e298R4

[2019-03-12 07:42] Morantron commented on #471
that commit is from 2013, no? have you `git pull`ed recently? :trollface:

[2019-03-12 09:50] sseerrggii commented on #453
@markets

![giphy](https://user-images.githubusercontent.com/2297137/54190714-aab06600-44b4-11e9-9377-4d46623fc45d.gif)

[2019-03-12 10:06] sseerrggii opened #472 "Do not allow login to inactive members"
Members can be disabled by admin as first step before to remove them from organisation. Member have "active" field  https://github.com/coopdevs/timeoverflow/blob/develop/db/schema.rb#L100

Members where active="false" should not be allowed to log this organisation. Notice that user can be member to different organisations.

[2019-03-12 10:10] sseerrggii commented on #471
I am pretty sure we don't use this fields

[2019-03-14 18:02] sseerrggii opened #474 "Reset current_organization_id on logout"
Seems that current_organization_id saved in session[:current_organization_id] persist after logout. This generate some problems, I noticed that:

1. I login in mobile app with user in organization 1
2. logout
3. Try to login again but with user that belongs to organizatio 2
4. I login with this user but app shows organization 1 :scream:

This problem only occurs in the mobile app, I'm not sure if

[2019-03-14 18:15] enricostano opened #475 "Cover this case with test"
https://github.com/coopdevs/timeoverflow/pull/466/commits/f8e1f5ed733b9b7b16b1bd1da7a875ae9f7b2352

[2019-03-14 18:52] enricostano opened #476 "Add test coverage to CI"
Related to https://github.com/coopdevs/timeoverflow/pull/459

[2019-03-14 22:35] enricostano opened #479 "Remove Post's publisher"
[code]

@sseerrggii do you know what a [publisher](https://github.com/coopdevs/timeoverflow/search?q=publisher&unscoped_q=publisher) is?

[2019-03-15 17:34] enricostano opened #480 "Fix favicon issue in staging"
It seems an issue valid only for https://staging.timeoverflow.org

We have 2 calls to `favicon.ico`:

https://github.com/coopdevs/timeoverflow/blob/d0f2bbfb08f70bc1c8b7b8f32a721eca42045150/app/views/layouts/application.html.erb#L9

https://github.com/coopdevs/timeoverflow/blob/8614f55dac9e54e299fa7a53447a077b6deb54ea/app/views/layouts/report.html.erb#L12

but we don't have any favicon...

[code]

[2019-03-15 17:35] enricostano commented on #480
@sseerrggii what should we do?

[2019-03-15 20:29] markets commented on #480
@enricostano https://www.timeoverflow.org/favicon.ico it works for me. There is also a file in the repo: https://github.com/coopdevs/timeoverflow/blob/develop/public/favicon.ico

[2019-03-18 14:08] sseerrggii commented on #480
Yes, it's only a staging server problem
I don't know why favicon don't load in staging :thinking:

[2019-03-19 09:44] enricostano commented on #480
@markets do you see a favicon in your browser? I don't :thinking:

[2019-03-19 09:48] enricostano commented on #480
Probably we should move this issue to https://github.com/coopdevs/timeoverflow-provisioning but I'm still not sure. We need to investigate a bit more.

[2019-03-22 11:30] sseerrggii commented on #479
No idea

[2019-03-22 11:33] sseerrggii opened #482 "Reactivate "gender" field on User"
As we discussed on https://community.coopdevs.org/t/reactivar-genero-en-perfil-de-usuario-estadisticas/881/4

We want to reactive gender field on User table.

We want to add new question on user create/edit form

**Which gender do you identify with?**

And use a select for te answer:
* (empty) (by default)
* Women
* Men
* Other
* I prefer not to answer

This question is only for diversity communit

[2019-03-22 15:05] sseerrggii commented on #471
![giphy](https://user-images.githubusercontent.com/2297137/54832366-50858100-4cbc-11e9-8ee1-b61cc4a1200f.gif)

[2019-03-22 16:21] markets commented on #479
So, can we delete it right?

[2019-03-22 16:24] sseerrggii commented on #479
delete!!!

[2019-03-22 16:34] markets commented on #480
@enricostano yep, in production, I can see the favicon in the browser!

It seems, in staging, all files under `public/` don't respond properly: https://staging.timeoverflow.org/robots.txt .... maybe `nginx` config in staging stage?

Another possibility:

[code]

We have ☝️ this setting, and probably the gem:

https://github.com/coopdevs/timeoverflow/blob/6d9bbde204118267ea97a6cfb32018a7496e6bfd/Ge

[2019-03-23 10:59] enricostano opened #485 "Investigate and eventually remove rails_12factor gem"
The [rails_12factor](https://rubygems.org/gems/rails_12factor/versions/0.0.3) seems stuck at 2014 and I am not sure it's needed anymore. I guess we introduced it when we were using Heroku.

We still have a Heroku integration, but we don't use it. Look at https://github.com/coopdevs/timeoverflow/pull/477 (click on `Show environments` at the bottom of the page).

This could be related to https://git

[2019-03-23 11:00] enricostano commented on #480
@markets aahhhh "removing"... you know my tastes :joy: :fire: I created a separate issue to investigate that lead: https://github.com/coopdevs/timeoverflow/issues/485

[2019-04-08 22:01] markets commented on #482
@sseerrggii implemented in :point_right: #489

[2019-04-08 22:05] markets commented on #470
Closed by #481

[2019-04-08 22:05] #470 closed

[2019-04-08 22:54] markets commented on #281
@sauloperez 2nd and final step (code climate in ci) implemented in #478 :fireworks:

[2019-04-10 14:15] #480 closed

[2019-04-10 14:15] #485 closed

[2019-04-10 14:29] #479 closed

[2019-04-10 14:43] #482 closed

[2019-04-10 15:42] #281 closed

[2019-04-10 15:42] #476 closed

[2019-04-11 19:45] markets commented on #471
Fixed by #492 :hocho: :hocho: :hocho:

[2019-04-11 20:44] markets opened #493 "Update screenshots"
Our current screenshots in docs (README) are a bit outdated, we should updated them:
- https://github.com/coopdevs/timeoverflow/blob/develop/docs/ofertas.png
- https://github.com/coopdevs/timeoverflow/blob/develop/docs/usuarios.png

[2019-04-14 14:44] enricostano commented on #493
cc/ @sseerrggii

[2019-04-16 15:24] #471 closed

[2019-04-16 19:32] markets commented on #293
This should be automatically fixed if we finally merge #465

[2019-04-16 19:34] markets commented on #289
@sauloperez During the last year we updated a lot of dependencies, maybe we should close this one and open individual issues for each gem that needs an important update?

[2019-04-17 08:23] enricostano commented on #289
We'll also be able to update more gems once we get to a more recent Ruby version.

[2019-05-09 14:26] sseerrggii commented on #468
@markets can you help here?

Only this issue remains to be done on second quarter of 2019 :love_letter:

[2019-05-09 20:59] markets commented on #468
@sseerrggii work started in :point_right: #495

[2019-05-10 23:33] #493 closed

[2019-05-11 20:17] zarpilla opened #496 "Apply new wireframes"
As suggested in https://community.coopdevs.org/t/wireframes-per-mobile-nova-estrategia/933 , the design can be improved using that wireframes.

[2019-05-16 00:13] patcon opened #497 "Add repo topic for "timebank""
Hiya :)

Seems that the `timebank` topic is related and useful. Worth adding so people can stumble on this repo more easily?

https://github.com/topics/timebank

[2019-05-16 07:50] sseerrggii commented on #497
Yes! thank you @patcon I don't known how to do it? Can you do it?

[2019-05-16 08:50] enricostano commented on #497
Done, thanks @patcon !

[2019-05-16 08:50] #497 closed

[2019-05-16 10:35] #468 closed

[2019-05-16 16:44] patcon commented on #497
No problemo!

Also, the `probot/settings` plugin can be added the repo, which allows changes to repo config (incl topics and descriptions and even names) to be encompassed within the PR workflow. Happy to submit a PR to add minimal config (and a rationalization for consideration) if you're open to it in principle.

https://github.com/probot/settings

[2019-05-16 17:34] enricostano commented on #497
I don't think in our case would help us much, we generally don't touch that information. But thanks in any case for letting us know that it can be done, I didn't know that!

[2019-05-24 19:43] #293 closed

[2019-05-29 18:30] sseerrggii commented on #496
We are waiting @zarpilla small PRs instead of big one #501

Also I suggest to add coopdevs frontend developers as reviewers of this PRs @andresgutgon @mllocs @nadalsol @naoisegolden @Morantron

[2019-05-31 06:08] sseerrggii opened #504 "Edit en.yml donate link in mails"
As commented on https://community.coopdevs.org/t/el-texto-al-pie-de-los-correos-sobre-el-euro-de-patreon/951/4

I edited https://app.localeapp.com/projects/10031/translations/5898761 waiting for user feedback, if nobody complains about that I'm going to change en.yml to homogenize it with Spanish and Catalan

[2019-05-31 09:36] enricostano commented on #504
:+1:

[2019-06-20 20:09] zarpilla opened #505 "undefined method `updated_at' Exception after a succesfull login"
Hi,

In a fresh installation of timeoverflow, an exception occurred after a valid login:

[code]

app/controllers/application_controller.rb:54:in `check_for_terms_acceptance!'`

![image](https://user-images.githubusercontent.com/3697530/59878043-97604100-93a7-11e9-8577-3e7bd27db594.png)

Commenting the code lines from the exception, member page after login is loaded and all seems ok.

[2019-06-21 09:12] enricostano commented on #505
Has seed data been loaded correctly?

[2019-08-27 15:07] zarpilla opened #508 "organization filter is lost when filtering"
In the public url for offers & inquires, i.e:
https://www.timeoverflow.org/inquiries?org=266
If we make a search, the org parameter is lost, showing the inquires of the other time banks: https://www.timeoverflow.org/inquiries?q=x

[2019-08-27 16:31] enricostano commented on #508
Thanks @zarpilla ! I think we had this bug tracked down somewhere, right @sseerrggii?

IIRC this will be solved once https://github.com/coopdevs/timeoverflow/pull/250 will get some love.

[2019-08-28 08:16] sseerrggii commented on #508
It's ok to have this issu, thanks @zarpilla :wink:

We talked about that in https://github.com/coopdevs/timeoverflow/pull/465#issuecomment-466409323 but we didn't create a issue

[2019-09-19 09:51] sseerrggii opened #509 "Add "Search" text placeholder on members view search input"
I noticed empty placeholder in Search box on /members view

![FireShot Capture 315 - Banc del Temps de Gràcia - staging timeoverflow org](https://user-images.githubusercontent.com/2297137/65233735-9c7e7a80-dad3-11e9-8ada-fdbb9bd27818.png)

We want to add "Search" text like we have it on /offers or /inquiries

![FireShot Capture 314 - Banc del Temps de Gràcia - staging timeoverflow org](https://use

[2019-09-19 15:33] sseerrggii opened #511 "Members manage, add phones to searchable fields"
Some community managers ask for the ability of search users by phone in the /members/manage

[2019-09-26 10:44] zarpilla commented on #509
Hi Sergi,

Done in the following [commmit](https://github.com/zarpilla/timeoverflow/commit/65d85742bb56c4f57786139079d255420fe6d101)

Thanks!

[2019-10-03 14:53] #300 closed

[2019-10-03 14:53] #295 closed

[2019-10-03 14:55] sauloperez commented on #505
any change @zarpilla ?

[2019-10-03 14:56] #505 closed

[2019-10-03 17:39] markets commented on #327
@sseerrggii can we just delete this? I'd take care of the ✂️ but I want to confirm first ...

This was added in the past because people are getting different emails (multiple clicks) and only the last one is valid (to reset the pass). But nowadays most of emails clients have good UI for threads/groups, so maybe we can just 🔥 this optimization (=> and remove the entire cache gem and infra piece).

[2019-10-03 18:50] markets commented on #327
Just in case @sseerrggii confirms 👉 #517 ✂️ ✂️ ✂️

[2019-10-04 10:48] sseerrggii commented on #327
I'm agree, we can remove this optimization! I should close this issue @markets ?

[2019-10-04 10:51] markets commented on #327
:):):):) 👍👍👍

Not necessary to close it now, it will be automatically closed by #517.

[2019-10-05 12:31] narcisgarcia opened #518 "FOSS application in FOSS repository"
f-droid.org is a non-profit volunteer project to maintain an installable catalogue of FOSS (Free and Open Source Software) applications for the Android platform. F-Droid respects user's privacy and people does not need an account to use any interface.
F-Droid catalogue takes care of reporting any antifeature from available software before installing applications, and catalogue itself can be filter

[2019-10-07 10:05] sseerrggii commented on #518
Welcome @narcisgarcia
Have TimeOverflow app for F-Droid will be awesome.
We used Expo.io to build the iOS & Android app https://github.com/coopdevs/timeoverflow-mobile-app do you know how can we easily build our app for F-Droid?

[2019-10-07 11:46] narcisgarcia commented on #518
F-Droid inclusion how-to:
https://f-droid.org/en/docs/Inclusion_How-To/

[2019-10-12 15:28] amyhenning commented on #475
I'll pick this up!

[2019-10-16 10:29] enricostano commented on #475
Thanks again @amyhenning !

[2019-10-16 10:29] #475 closed

[2019-12-10 15:40] #327 closed

[2019-12-10 15:40] #358 closed

[2019-12-12 22:43] markets commented on #309
Hi @sauloperez maybe this is fixed with the new infra?

[2019-12-13 07:28] sauloperez commented on #309
Good catch @markets there are things we have to clean up first but most likely this got fixed with the migration, yes. Now it's logging in `log/next.log` due to https://github.com/coopdevs/timeoverflow/blob/develop/config/environments/next.rb but I bet it'll do the same when we use the production env.

[2020-01-23 09:15] sseerrggii commented on #509
Fixed on #501

[2020-01-23 09:15] #509 closed

[2020-01-23 10:03] narcisgarcia commented on #518
You can build Android version same way, but adding some ethical review to application and package internals. When you reach privacy and security levels required by F-Droid, you can keep them anyway on other publishing channels.

F-Droid.org is an apps repository that many people trust, because applications published there have been checked already, and people can get them from F-Droid without havi

[2020-01-23 10:25] sseerrggii commented on #518
Thanks @narcisgarcia !

@raneq maybe one day you can help us with that? I will open a issue on  https://github.com/coopdevs/timeoverflow-mobile-app

[2020-01-23 10:25] #518 closed

[2020-01-23 10:29] sseerrggii opened #539 "Problem deploying to staging"
I'm trying to deploy to staging but i have this error:

[code]

[2020-01-23 10:58] mperezv commented on #539
This people seem to have the same problem https://github.com/net-ssh/net-ssh/issues/535 but with knife-solo instead of devise. They solved it updating net-ssh https://github.com/net-ssh/net-ssh/issues/535#issuecomment-466457081.

[2020-01-23 13:06] narcisgarcia commented on #518
I'm recommending (and installing) software for many devices. And some times (like now) I can't open and follow more tickets on projects communities.

A new ticket needs to be created at the F-Droid Submission Queue on GitLab ("Proposal by Submission Queue") https://f-droid.org/en/docs/Inclusion_How-To/

[2020-01-26 18:15] enricostano commented on #539
Anybody else able to reproduce?

[2020-01-27 12:53] raneq commented on #539
I'm taking it

[2020-02-10 14:46] raneq commented on #539
After wrestling with valid ssh keys that were unathourized only through capistrano, I could complete the process. However, the error that @sseerrggii had didn't reproduce on my host.

Which type of key are you using, @sseerrggii ? I was using ed25519 and now with RSA I have no problem.

[2020-02-12 12:49] sseerrggii opened #540 "Some views in /stadistics are broken in mobile"
We want to fix some views for admin purposes that are broken in mobile screens, we don't want ti improve UX for admins we only need some responsive, for example /stadistics/statistics_all_transfers show

![Screenshot](https://user-images.githubusercontent.com/2297137/74336410-7d43fa80-4d9e-11ea-88e4-e6b1c5a3a987.jpg)

[2020-02-12 12:59] mperezv commented on #540
We can try with .table-responsive, which is going to bring a horizontal scroll inside the container, or by wrapping the content so it goes under the previous content. What do you think is better?

[2020-02-13 10:05] mperezv opened #541 "Some words in /tags overlap on small screens"
We need to fix the margins.
![TimeOverflow_Overlap](https://user-images.githubusercontent.com/55448468/74423495-acb33f80-4e50-11ea-8069-76774f9bb243.png)

[2020-02-14 13:35] mperezv opened #544 "App prints in english on test environment and it crushes"
We've found out that the app prints in english on test environments, it was the reason for CI tests failing and don't finding the login button.

 We've change the Capybara language to english for the moment but we think we should locate why is the configuration on tests put in english if TimeOverflow is mostly used in spanish, and do a better testing.

[2020-02-20 16:37] sseerrggii commented on #539
Thanks @raneq

I remove all my development environment and now works fine :+1:

[2020-02-20 16:38] #539 closed

[2020-02-25 15:55] #373 closed

[2020-02-25 15:55] #544 closed

[2020-02-25 22:03] markets opened #551 "Remove Elasticsearch"
Back to PostgreSQL full text search again (~> revert https://github.com/coopdevs/timeoverflow/commit/096fcce484ffd4f843955bcc2cd36627e26e43bc).

No memcached, no server crons, no Elastic, no Angular ... such a world, only Ruby, PostgreSQL and Redis 👌 🔝

@enricostano @sauloperez just adding an issue to track the status of this.

[2020-02-25 22:30] markets commented on #309
@sauloperez time to close?

[2020-02-25 22:31] markets commented on #369
@enricostano @sauloperez I think we can close this one too

[2020-02-26 08:56] sauloperez commented on #309
Yep, thanks for the heads-up. This is now fixed. The problem I see now is that we don't have any sort of log rotation :sweat_smile:

[2020-02-26 08:56] #309 closed

[2020-02-26 08:57] sauloperez commented on #369
I believe so. @sseerrggii you've been the last to try things in staging. can you confirm?

[2020-02-27 07:03] #540 closed

[2020-02-27 07:03] #541 closed

[2020-02-27 07:04] sauloperez commented on #551
YES! this is the point where we want to get to!

[2020-02-27 14:12] #511 closed

[2020-02-27 21:32] markets commented on #551
Nice!! I'd like to finalize the Rails 6 upgrade (#516) after that. I think it's better to avoid testing the Elastic thing again in Rails 6 and we can save the related Elastic gems upgrade as well (they need to jump like ~3 major versions).

[2020-02-28 07:28] sauloperez commented on #551
Unfortunately not but I'll do my best to plan for it. We're at almost full capacity at Coopdevs these days.

[2020-02-28 20:04] markets commented on #551
ok Pau, let me know if I can do anything to help move this forward 👍

[2020-02-28 20:10] markets opened #555 "rdiscount => kramdown or redcarpet"
[rdiscount](https://github.com/davidfstr/rdiscount) seems quite unmaintained these days, I'd like to propose to move to [kramdown](https://github.com/gettalong/kramdown) or [redcarpet](
https://github.com/vmg/redcarpet).

https://www.ruby-toolbox.com/categories/markup_processors

[2020-03-02 11:50] sseerrggii commented on #369
Mmm :thinking:

When I'm testing #401 on staging.timeoverflow.org it still send mails with links to www.timeoverflow.org, I tried weekly digest and Devise mails.

[2020-03-03 11:53] sauloperez commented on #369
Fuuu I believe we changed the provisioning config so it picks up a different hostname in staging :see_no_evil:

[2020-03-05 15:00] sauloperez commented on #551
Thanks for the offer! I'll let you know. I plan to sit with @sseerrggii next week and come up with a plan for all the things that in play now :ok_hand:

[2020-03-09 09:42] sseerrggii commented on #369
What are the next steps here @sauloperez

[2020-03-09 10:13] sauloperez commented on #551
Alright, so we did of planning of the upcoming things for TO and we decided to split this into at least two steps. We aim to minimize the risks to the bare minimum and do steps that require very little from @sseerrggii, myself or others in the team. We suggest we start with:

[2020-03-09 10:19] sauloperez opened #558 "Replace db/schema.rb with structure.sql"
## Description

The way we aim to migrate from ElasticSearch to PostgreSQL full-text search requires a function and a trigger, which is not supported by default Rails Ruby schema format.

This change should be a refactor. No behavior change at all. That's what we'll to confirm in production.

## What to do

We just need to bring the change done in https://github.com/coopdevs/timeoverflow/pull/465/

[2020-03-09 14:21] sauloperez commented on #369
We need to investigate again where does the hostname used in emails come from. I remember fixing it not long ago.

[2020-03-10 10:20] mperezv commented on #306
I'm going to try!

[2020-03-11 09:05] oscarmh opened #561 "Error in ansible-playbook playbooks/provision.yml --limit=dev"
Hi after running all steps I reached an error running provision.yml

ERROR! no action detected in task. This often indicates a misspelled module name, or incorrect module path.

The error appears to have been in '/root/timeoverflow-provisioning/roles/database/tasks/main.yml': line 30, column 3, but may
be elsewhere in the file depending on the exact syntax problem.

The offending line appears to b

[2020-03-11 10:00] sseerrggii commented on #561
Hi Oscar!
@danypr92 what do yo think?

[2020-03-11 11:18] danypr92 commented on #561
Hi @oscarmh it's the first time I see this error in this task... :thinking:

Which environment are you provision?
Have you set the `database_user`?
Can you see the `pg_hba.conf` config file? (absolute path: `/etc/postgresql/9.4/main/pg_hba.conf`)

[2020-03-11 13:36] oscarmh commented on #561
Hi

ansible 2.5.1
  config file = /root/timeoverflow-provisioning/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/dist-packages/ansible
  executable location = /usr/bin/ansible
  python version = 2.7.17 (default, Nov  7 2019, 10:07:09) [GCC 7.4.0]
root@bof:~/timeoverflow-p

[2020-03-12 12:37] danypr92 commented on #561
Hi @oscarmh!

Thanks for the information.

We are using Ansible 2.8.2 as you can see in the [`requirements.txt` file](https://github.com/coopdevs/timeoverflow-provisioning/blob/ac5f76972cedc2367eea7a252256554202df847f/requirements.txt#L1).

We recommend you to use the supported version. You can use Python to install it as we do with the `requirement.txt` file.

Can do you update the Ansible packag

[2020-03-12 14:06] oscarmh commented on #561
shame for me, retry and let you know, thanks

[2020-03-18 15:34] #453 closed

[2020-04-04 16:25] markets commented on #551
ok @sauloperez 👍 just a question, in the past we already test that project, why not just revert the revert -> test only 1 time -> merge -> deploy? I think this path requires very little from all of us (ok, I'm not sure about the deploy step 😸, but at the end, it's a migration that will be tested in staging first).

[2020-04-08 06:53] sauloperez commented on #551
the only goal was the minimize any problems that may arise in production. We're normally busy and can't afford to put too much attention here. Starting with the structure.sql moves us a little closer and doesn't seem that daunting as doing it altogether would. As a consequence, I might be able to squeeze it in my agenda for the upcoming days. I guess it's just a matter of confidence.

[2020-04-08 09:19] #504 closed

[2020-04-27 08:27] mperezv commented on #454
I think this matches with the behaviour described on this Devise's issue: https://github.com/heartcombo/devise/issues/5212

[2020-04-27 08:37] mperezv commented on #454
Also, I think we could have tried to set `expire_all_remember_me` to `false` but I found this other Devise's issue and it seems it wouldn't work: https://github.com/heartcombo/devise/issues/5027

[2020-05-03 10:03] sseerrggii commented on #551
Dale caña @sauloperez :muscle:

When you have a moment, I can test it and :boom:

[2020-10-06 19:54] markets commented on #561
@oscarmh I'm going to close this one, please re-open in case you still got issues after @danypr92's comment. Thanks

[2020-10-06 19:54] #561 closed

[2020-11-05 03:45] dataf3l opened #569 ""Improve the export of reports""
how can one download offers in json or xml or rss format?

https://www.timeoverflow.org/offers/

is there a url for that?

[2020-11-05 09:38] sseerrggii commented on #569
Hi @dataf3l

TimeOverflow don't have this feature. We want to develop the hability to export data https://github.com/coopdevs/timeoverflow/pull/259 but for now we don't have resources to develop that

[2020-11-05 12:21] sseerrggii opened #570 "Login responsive"
we have problems in login form on mobile when keyboard is needed

![Screenshot_20201105-131921](https://user-images.githubusercontent.com/2297137/98240517-d1fd5600-1f69-11eb-9acd-bcb68c07174c.png)

[2020-11-06 10:24] sseerrggii commented on #570
I have this problem on Xiaomi MI A1 Android 9 (same problem with Chrome & Firefox)

[2020-11-12 08:28] sseerrggii opened #572 "Remove donation information from about page"
I tried to update app in GPlayStore (that is only a webview app) and they rejected because of donation information in about, we should remove this from about `/pages/about`

![Screenshot_2020-11-12 TimeOverflow](https://user-images.githubusercontent.com/2297137/98914779-58191f80-24c9-11eb-83b0-46d3be85d5c0.png)

![FireShot Capture 437 - Play Console - play google com](https://user-images.githubuse

[2020-11-13 03:17] dataf3l commented on #569
What about CSV export of all the fields, or maybe XLSX export, would that be easier?

[2020-11-13 12:29] sseerrggii commented on #569
Yes, would be easy for common users @dataf3l but we actually don't have this feature request...

Anyway if you want to develope it, I think this will be a good feature for TimeOverflow admin users :+1:

[2020-11-20 10:09] dataf3l commented on #569
I might develop it.
please re-open and assign it to me.
I'll spend some time this weekend on it.

[2020-11-20 10:12] sseerrggii commented on #569
Yes, i only closed it because I thought it was just a question

[2020-11-20 10:13] sseerrggii commented on #569
Can yo edit de title @dataf3l  something like "Improve the export of reports"

[2020-12-15 08:33] #551 closed

[2020-12-15 08:33] #558 closed

[2021-01-04 12:16] #289 closed

[2021-01-05 09:19] sseerrggii opened #577 "Remove Locale app keys on PR 575 merge"
Just to remember to do that https://github.com/coopdevs/timeoverflow/pull/575#issuecomment-754298086

[2021-01-07 12:40] sseerrggii opened #583 "Search on old posts"
We have a problem until we  remove Elastic Search https://github.com/coopdevs/timeoverflow/pull/568

The Post search only find new posts.

For exemple if you search (logged out) for "pagina"  https://www.timeoverflow.org/offers?q=pagina

You will find one post from december of 2020 https://www.timeoverflow.org/offers/29150

but you have older post with "pagina" in text like https://www.timeoverflo

[2021-01-07 23:45] markets commented on #583
@sseerrggii @sauloperez As per https://github.com/Casecommons/pg_search/wiki/Building-indexes, we can try running the following command in console: `ActiveRecord::Base.connection.execute("UPDATE posts SET id = id")` to avoid touching the updated_at attribute, in case that command didn't work, we can run: `Post.find_each(&:touch)` (**DOWNSIDE** all posts will update the updated_at attribute)

[2021-01-08 08:56] sseerrggii commented on #583
It works @markets

I tried in staging first and works so I executed to production too. Also the execution was really quick.

Thanks @markets and @sauloperez

[2021-01-08 08:56] #583 closed

[2021-01-08 09:07] #572 closed

[2021-01-08 09:15] sseerrggii commented on #577
Deleted!

[2021-01-08 09:15] #577 closed

[2021-01-08 09:41] sseerrggii commented on #569
Added on https://github.com/coopdevs/timeoverflow/pull/581

[2021-01-08 09:41] #569 closed

[2021-01-08 09:43] sseerrggii commented on #496
I close that, for the moment we don't have the resources to do it

[2021-01-08 09:43] #496 closed

[2021-01-08 14:05] #570 closed

[2021-01-09 01:36] dataf3l commented on #569
this is awesome. can you please explain how I can now perform the "CSV export of all the fields, or maybe XLSX export" in the user interface?

[2021-01-11 08:54] sseerrggii commented on #569
Hi @dataf3l for the moment this feature is for admin users

As admin of a organization you will see the reports on the navbar

![Screenshot_2021-01-11 Banc del Temps de Gràcia](https://user-images.githubusercontent.com/2297137/104161298-edb22c00-53f2-11eb-8eee-32e0935b2f0d.png)

[2021-02-22 11:09] #508 closed

[2021-03-09 09:45] sseerrggii opened #596 "Downloadable organization data"
Some organizations want to analyze their data, in past we proposed to extend reports #259

Also in #594 we add some fields to these reports

These reports are commonly used only for printing in order to facilitate participation in TimeBanks for people that have difficulties using the TimeOverflow application (old people, for example)

So maybe in the future we could keep this reports simple (print

[2021-03-09 09:53] sseerrggii commented on #391
I reopen because it was not fixed, it is a important improvement for the user experience

[2021-03-11 10:37] #391 closed

[2021-03-12 14:41] #296 closed

[2021-03-12 21:09] markets commented on #596
That would be very useful, I agree @sseerrggii. Maybe we can just do it this way:
- add the missing ones, like Transactions (not sure what you mean by Categories/Tags 😄 )
- complete the current ones (I think we mostly print all relevant attributes now)
- and a new option "Download all" (under the hood we only need to call each CSV Report class and create a ZIP file)

[2021-03-17 12:13] sseerrggii opened #607 "Avoid resend transfer hours form"
As reported https://community.coopdevs.org/t/transferencias-duplicadas/1166

Seems to be a problem only reproducible on the mobile app. When you are in a paying hours form `/transfers/new?destination_account_id=6&id=4` if you click to submit botton several times the transfer will be saved several times

[2021-03-26 08:56] #472 closed

[2021-04-08 14:08] sseerrggii commented on #596
I think @franpb14 wants to take this :)

[2021-04-10 18:21] franpb14 commented on #596
Yes, I would like to take this issue.
Does the current status of the issue coincide with the pull request #599?

[2021-04-10 18:35] markets commented on #596
Hi @franpb14 👋🏼

In #599 I added the missing Transfer report and in #594 I added some missing relevant attributes. So, to finalize this project we need to implement the latest point in https://github.com/coopdevs/timeoverflow/issues/596#issuecomment-797756760, basically add the `Download all` option.

[2021-04-16 12:13] franpb14 commented on #596
Hi, in [this commit](https://github.com/coopdevs/timeoverflow/commit/d3ab098f7e9c27ec0a8e5b3f6e3af22acab232fa) you can find the feature working, but I have a doubt regarding the require 'zip': I think it shouldn't appear in the file 'reports_controller.rb' but I don't know where else to put it.

[2021-04-17 14:28] markets commented on #607
Closed by #614

[2021-04-17 14:28] #607 closed

[2021-04-17 17:07] markets commented on #596
hi @franpb14 👋🏼  since it's the place from where it is invoked, is fine to have it there.

[2021-04-20 19:28] franpb14 commented on #596
I didn't close this Issue with a magic comment because I discussed with @sseerrggii the possibility of an additional phase (more data in ssvs from the Zip). This phase would start when I implement another functionality that I have defined that would bring more value.

[2021-04-20 20:22] markets commented on #596
Ok @franpb14! this is probably the 2 bullet point in the checklist here https://github.com/coopdevs/timeoverflow/issues/596#issuecomment-797756760, right?

[2021-04-20 20:32] franpb14 commented on #596
Yes, I think so @markets

[2021-04-21 08:52] franpb14 opened #621 "Feature: onboarding phase one"
I am opening this Issue to implement a new functionality for those who are looking for a organisation. I've defined this Issue with the help of @sseerrggii, the first phase will be a listing with a searcher as you can see in the following mockups.
<img width="715" alt="First" src="https://user-images.githubusercontent.com/70280187/115524486-7bbd6e80-a28e-11eb-8f44-7e8e07b5f8b6.png">
<img width="71

[2021-04-21 10:58] markets commented on #621
like the feature! I think we should add this "search" in this page: https://www.timeoverflow.org/organizations

[2021-04-23 10:08] franpb14 opened #623 "Feature: search members by post code or tags"
This feature is about being able to search for members of an organisation by postcode or tag (each organisation may choose its own tag policy or not use tags directly). With the postcode, large organisations can put their closest members in touch with each other.

Main points:

- [x]  Add tags (optional text) and postcode (optional string) fields and add them to the forms.
- [x] Make the current s

[2021-04-23 12:56] sseerrggii commented on #623
Thanks @franpb14

I think we don't need search for postal code, we only want to create this field for users because someday we want to develop features based on geolocalization of users

[2021-04-25 17:58] #621 closed

[2021-04-25 18:30] franpb14 commented on #623
@markets the changes made to the "structure.sql" [on this commit](https://github.com/coopdevs/timeoverflow/commit/59ae149956d57accd6a556affa427438e3d2240c#diff-1dd5a8f580b9615769ddc19a64a98f455d9d20eb149c443f41d9d3c797d39b12) are causing Travis to fail again as before  (and in the same two tests). But now the `bin/rails migrate` is necessary. I've thought about changing the "structure.sql" by addi

[2021-04-25 18:48] markets commented on #623
Maybe you are using a different postgresql version? We are at 9.4:

- **INFRA**
https://github.com/coopdevs/timeoverflow-provisioning/blob/7d848fc6dd060d3fcecb824440941891cd235089/roles/database/tasks/main.yml#L10

- **CI**
https://github.com/coopdevs/timeoverflow/blob/6da895d1a8eba818b3a836031c80923d15785c8f/.travis.yml#L7

In the meantime, maybe we can edit manually the "structure.sql" to restor

[2021-04-26 14:44] franpb14 commented on #623
Yeah, it was the version of postgres, thanks for your help @markets.

[2021-04-30 10:05] franpb14 opened #627 "Feature: profile photo for users"
The idea is that the current "change your image" button will not be a link to gravatar but the user will be able to choose a photo from his computer. This photo will be stored in a backblaze bucket.

I will not break the integration with gravatar as the default gravatar photo will continue to be used until the user changes it.

[2021-04-30 11:04] markets commented on #627
Are we sure about the storage provider? Ideally we should use [ActiveStorage](https://edgeguides.rubyonrails.org/active_storage_overview.html#setup) and it seems they don't have native support for this provider.

[2021-04-30 11:19] sseerrggii commented on #627
Hey! We don't have a decision about backblaze, it's a provider we use at coopdevs to avoid Amazon

@markets do you have other options?

[2021-04-30 11:31] markets commented on #627
I usually go with AWS S3, but ActiveStorage have also native support for Google Cloud and Microsoft Azure.

I've found a gem for `backblaze` integration: https://github.com/jeygeethan/activestorage-backblaze. But not sure how stable/up-to-date this repo is... In terms of support and maintenance, I'd go with S3.

[2021-04-30 13:29] sseerrggii commented on #627
So, let's do it with AWS, I will create an account for ADBdT/TimeOverflow and grant you access

[2021-05-03 06:27] #623 closed

[2021-05-03 07:20] sseerrggii opened #630 "Cleanup user fields"
In Active Admin when I create a new user I see the field DNI (```identity_document```)

We don't use it and we can remove it from Active Admin and from User model.

Also we introduced the field postal code (```postcode```) so it should be at active admin

[2021-05-03 07:23] sseerrggii opened #631 "Tag List order"
In Tag list we have the menu "Offers/Inquiries/Members" In order to continue with the same consistency as the main menu it should be arranged as "Members/Offers/Inquiries"

![Screenshot_2021-05-03 Banc del Temps de Gràcia](https://user-images.githubusercontent.com/2297137/116850417-ed7fab80-abf0-11eb-833c-5da795223368.png)

[2021-05-04 07:08] #631 closed

[2021-05-04 07:08] #630 closed

[2021-05-04 12:58] markets commented on #627
Thanks @sseerrggii! The AWS key will be needed for staging/production, for development we can use the local filesystem adapter. So, we don't need that key to move forward with the code changes.

[2021-05-07 12:22] franpb14 opened #636 "Feature: onboarding second phase"
For this second phase I will implement a map with the time banks in timeoverflow and also make a mention to the ones that are not there but can be found on [bdtonline](http://www.bdtonline.org/).
I have some doubts,
- Should I put it under the table of organisations?
- And what technology should I use? I have made a small study  on some of them:

1. [Here:](https://developer.here.com/) I have used

[2021-05-10 11:42] franpb14 commented on #636
I have been testing [Leaflet](https://leafletjs.com/index.html), because I think that it is the best option, given that it is not paid and that it uses an open source map. I'm happy with the results, the code with the gem [leaflet-rails](https://github.com/axyjo/leaflet-rails) can be very simple and concise. Using the downloaded version and JavaScript works fine too.

[2021-05-12 10:35] sseerrggii commented on #636
For me it's ok

What do you think @markets

[2021-05-12 10:40] markets commented on #636
Leaflet is open source solution, so +1 from my side!

[2021-05-13 10:10] franpb14 opened #638 "Feature: transfers between members of different organisations"
I will make the current "time transfer for this offer" button work even if it is an offer from another organisation. This will allow different organisations to exchange time with each other.

The button will work as follows when the exchange is between different organisations:
member A and his organisation give one hour and member B and his organisation get one hour. So now the sum of time of the

[2021-05-14 07:23] sseerrggii commented on #638
![photo5783001618583762642](https://user-images.githubusercontent.com/2297137/118235956-b97c7400-b495-11eb-88a5-ad94b355b085.jpg)

I think is a good first step. Someday we can show only accountability between organizations, limits of credit between organitzacions or other rules for interbank exchanges

[2021-06-14 20:24] #627 closed

[2021-06-15 15:06] sseerrggii opened #644 "Limit profile image size to 5MB"
I have noticed that when you exceed the maximum file size when changing profile image, nginx gives an error "413 Request Entity Too Large"

It would be better don't allow uploading files greater than 5MB to avoid this error appearing

![Screenshot 2021-06-15 at 17-04-49 413 Request Entity Too Large](https://user-images.githubusercontent.com/2297137/122077364-f7094f80-cdfb-11eb-9ecb-d63327f5fc6d.pn

[2021-06-15 19:51] markets commented on #644
100% agree! Probably, some js validations will be enough for now 💅🏼

[2021-06-16 18:33] markets opened #646 "Migrate from TravisCI to GitHub Actions"
TravisCI worked really well for years, but after all changes they made in latest times, also for OSS projects... time to say 👋🏼

GH Actions are really cool and flexible ✨

Some interesting articles about Travis:
 - https://daniel.haxx.se/blog/2021/06/14/bye-bye-travis-ci/
 - https://www.jeffgeerling.com/blog/2020/travis-cis-new-pricing-plan-threw-wrench-my-open-source-works

 Things to be consider

[2021-06-17 09:12] sauloperez commented on #646
Definitely, OFN started this migration recently as well. We can copy its configuration :point_right: https://github.com/openfoodfoundation/openfoodnetwork/blob/master/.github/workflows/build.yml, although Github's guides are pretty complete and we shouldn't have any problem.

That looks reaaaally old :see_no_evil: We should probably plan an upgrade.

[2021-06-17 10:45] markets commented on #646
@sauloperez couple of comments:

1) about the CodeClimate thing, I just see there is also an official GH Action app for CodeClimate in the marketplace, so we can keep both report: Quality and Coverage (not sure if CodeCov reports also Quality). So, I'd stick with CodeClimate for now.

2) About Postgresql version, 100% agree, we should plan an upgrade sooner than later, but I'd do it separately fro

[2021-06-18 11:24] #644 closed

[2021-06-18 18:06] markets commented on #369
It just happened to me playing in staging, maybe @konykon can help us with this one?

[2021-07-06 08:54] #369 closed

[2022-03-26 20:30] jwmh opened #655 "[Idea: major UX change] Non-zero-sum transactions"
Hi y'all,

I just searched github for "timebank" and found this repo!
♥
My local community doesn't have any app (am hoping for an android apk eventually).

Here is a radical proposal:

To prototype a non-zero-sum economic model.

Rather than a single "balance",
Instead,
Superadmins could add or modify a transaction type to be "non-zero-sum":
... such that Users would then have TWO (2) separate, in

[2022-03-29 07:18] sseerrggii commented on #655
Hi @jwmh and welcome

Thanks for your proposals. We always think on methods to facilitate interactions in a timebank community trough TimeOverflow :) Our main problem right now are resources to develop consistently our app... Nowadays we do really small changes to the app

Other platforms (enterprise owned) like https://timerepublik.com/ have more capability to implement frequent changes...

For t